Repository oceanbase/odc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yhilmare, @yizhouxw, @PeachThinking, @MarkPotato777, @LuckyPickleZZ, @smallsheeeep, @krihy, @ungreat, @guowl3, @Jane201510, @JessieWuJiexi

correct schedule task status.
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/JobType.java
Owners: @guowl3, @yhilmare

fix(db-browser): partition definitions is not ordered (#2328)
  libs/db-browser/src/main/resources/schema/sql/mysql/mysql_5_6_x.yaml
  libs/db-browser/src/main/resources/schema/sql/mysql/mysql_5_7_x.yaml
  libs/db-browser/src/main/resources/schema/sql/obmysql/obmysql_4_0_x.yaml
Owners: @yhilmare, @PeachThinking

fix throttle rps
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/OscController.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/OscService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/model/OnlineSchemaChangeParameters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/model/OnlineSchemaChangeScheduleTaskParameters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/model/RateLimiterConfig.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/model/UpdateRateLimiterConfigRequest.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/pipeline/BaseCreateOmsProjectValve.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/pipeline/ScheduleCheckOmsProjectValve.java
Owners: @yhilmare, @yizhouxw, @krihy, @LuckyPickleZZ

optimize log
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/TaskFrameworkConfiguration.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/StartPreparingJob.java
Owners: @yhilmare, @krihy, @yizhouxw

fix(dlm): correct the task status when the task exits abnormally (#2330)
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/JobType.java
Owners: @guowl3, @yhilmare

fix(taskframework): always print warn log about "Task-framework isEnabled" (#2331)
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/TaskFrameworkConfiguration.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/StartPreparingJob.java
Owners: @yhilmare, @krihy, @yizhouxw

fix(partition-plan): generated partition expression is not contiguous (#2327)
  server/plugins/task-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/task/obmysql/partitionplan/OBMySQLAutoPartitionExtensionPoint.java
Owners: @LuckyPickleZZ, @yhilmare

add override annotation
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/oracle/OracleExpressionFactory.java
Owners: @yhilmare, @PeachThinking

feat(column-group): add support of column group into ob-sql-parser (#2300)
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/mysql/MySQLAlterTableActionFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/mysql/MySQLAlterTableFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/mysql/MySQLColumnGroupElementFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/mysql/MySQLCreateIndexFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/mysql/MySQLCreateTableFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/mysql/MySQLExpressionFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/mysql/MySQLTableElementFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/oracle/OracleAlterTableActionFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/oracle/OracleAlterTableFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/oracle/OracleColumnGroupElementFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/oracle/OracleCreateIndexFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/oracle/OracleCreateTableFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/oracle/OracleExpressionFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/oracle/OracleForUpdateFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/oracle/OracleFromReferenceFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/adapter/oracle/OracleTableElementFactory.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/statement/Operator.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/statement/alter/table/AlterTableAction.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/statement/common/ColumnGroupElement.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/statement/createindex/CreateIndex.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/statement/createtable/ColumnAttributes.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/statement/createtable/CreateTable.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/statement/createtable/OutOfLineConstraint.java
  libs/ob-sql-parser/src/main/java/com/oceanbase/tools/sqlparser/statement/createtable/OutOfLineIndex.java
  libs/ob-sql-parser/src/main/resources/obmysql/sql/OBParser.g4
  libs/ob-sql-parser/src/test/java/com/oceanbase/tools/sqlparser/adapter/MySQLAlterTableFactoryTest.java
  libs/ob-sql-parser/src/test/java/com/oceanbase/tools/sqlparser/adapter/MySQLCreateIndexFactoryTest.java
  libs/ob-sql-parser/src/test/java/com/oceanbase/tools/sqlparser/adapter/MySQLCreateTableFactoryTest.java
  libs/ob-sql-parser/src/test/java/com/oceanbase/tools/sqlparser/adapter/MySQLTableElementFactoryTest.java
  libs/ob-sql-parser/src/test/java/com/oceanbase/tools/sqlparser/adapter/OracleAlterTableFactoryTest.java
  libs/ob-sql-parser/src/test/java/com/oceanbase/tools/sqlparser/adapter/OracleCreateIndexFactoryTest.java
  libs/ob-sql-parser/src/test/java/com/oceanbase/tools/sqlparser/adapter/OracleCreateTableFactoryTest.java
  libs/ob-sql-parser/src/test/java/com/oceanbase/tools/sqlparser/adapter/OracleExpressionFactoryTest.java
  libs/ob-sql-parser/src/test/java/com/oceanbase/tools/sqlparser/adapter/OracleForUpdateFactoryTest.java
Owners: @yhilmare, @PeachThinking

fix the issue of schedule status not found
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleStatus.java
Owners: @guowl3, @yhilmare

rename QueryProfileManager.java
  server/odc-common/src/main/java/com/oceanbase/odc/common/util/TimespanFormatUtil.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/diagnose/SqlDiagnoseService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/queryprofile/OBQueryProfileManager.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/queryprofile/display/PlanGraph.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/ConnectConsoleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/OBExecutionListener.java
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/diagnose/PlanGraphBuilder.java
Owners: @yhilmare, @yizhouxw, @LuckyPickleZZ, @krihy

fix: update user extra properties
  server/odc-service/src/main/java/com/oceanbase/odc/service/iam/UserService.java
Owners: @MarkPotato777, @smallsheeeep

fix approve bug
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/model/ConnectionConfig.java
Owners: @yhilmare, @yizhouxw

fix(connection): add serialVersionUID for ConnectionConfig (#2065)
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/model/ConnectionConfig.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/model/TemplateVariables.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/model/ExecutorInfo.java
Owners: @yhilmare, @yizhouxw, @smallsheeeep, @ungreat, @krihy

upgrade action version to v4
  .github/workflows/build_artifact.yaml
  .github/workflows/build_daily.yaml
  .github/workflows/build_dev.yaml
  .github/workflows/build_release.yaml
Owners: @smallsheeeep, @yhilmare, @yizhouxw

fix(odp-sharding): cannot connect to odp sharding
  server/odc-common/src/main/java/com/oceanbase/odc/common/util/ExceptionUtils.java
  server/odc-common/src/test/java/com/oceanbase/odc/common/util/ExceptionUtilsTest.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/constant/ConnectType.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/ConnectionValidator.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/model/ConnectionConfig.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/ConnectConsoleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/model/SqlExecuteResult.java
Owners: @yhilmare, @yizhouxw, @LuckyPickleZZ

Fixed an issue where the task status was marked as completed after the task was cancelled.
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/AbstractDlmJob.java
Owners: @guowl3, @yhilmare

fix(dlm): the task status was set to completed when the task was canceled (#2340)
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/AbstractDlmJob.java
Owners: @guowl3, @yhilmare

fix(schedule): status not found (#2333)
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleStatus.java
Owners: @guowl3, @yhilmare

build: upgrade workflow action version to v4 (#2338)
  .github/workflows/build_artifact.yaml
  .github/workflows/build_daily.yaml
  .github/workflows/build_dev.yaml
  .github/workflows/build_release.yaml
Owners: @smallsheeeep, @yhilmare, @yizhouxw

create logical database implementation
  server/integration-test/src/test/java/com/oceanbase/odc/service/connection/logicaldatabase/LogicalTableServiceTest.java
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_4__add_logical_database.sql
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/LogicalDatabaseController.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/DatabaseEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/DatabaseSpecs.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalDBPhysicalDBEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalDBPhysicalDBRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalDatabaseMetaEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalDatabaseMetaRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalTableEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalTablePhysicalTableEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalTablePhysicalTableRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalTableRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/model/DatabaseSyncStatus.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/model/DatabaseType.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/model/QueryDatabaseParams.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/LogicalDatabaseService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/LogicalTableService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/LogicalTableFinder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/LogicalTableRecognitionUtils.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/parser/BadLogicalTableExpressionException.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/parser/BaseLogicalTableExpression.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/parser/BaseRangeExpression.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/parser/ConsecutiveSliceRange.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/parser/EnumRange.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/parser/LogicalTableExpression.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/parser/LogicalTableExpressionParseUtils.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/parser/LogicalTableExpressions.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/parser/SchemaExpression.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/parser/SteppedRange.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/model/CreateLogicalDatabaseReq.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/model/DetailLogicalDatabaseResp.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/model/DetailLogicalTableResp.java
  server/odc-service/src/test/java/com/oceanbase/odc/service/connection/logicaldatabase/core/LogicalTableRecognitionUtilsTest.java
Owners: @smallsheeeep, @yhilmare, @yizhouxw, @MarkPotato777

fix update oss log when canceling
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @krihy, @yizhouxw

fix taskframework disabled update log info
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @krihy, @yizhouxw

Limit the number of databases and do not allow duplicate databases
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/DatabaseChangeChangingOrderTemplateService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/model/DatabaseChangeProperties.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/processor/CreateFlowInstanceProcessAspect.java
Owners: @yhilmare, @yizhouxw, @krihy

fix taskframework disabled
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @krihy, @yizhouxw

fix upgrade error
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/model/ConnectionConfig.java
Owners: @yhilmare, @yizhouxw

fix(taskframework): oss log info is ignored when cancel job (#2341)
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @krihy, @yizhouxw

fix(flow): task will be failed when its execution undergoes a version upgrade #2342
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/model/ConnectionConfig.java
Owners: @yhilmare, @yizhouxw

reactor
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @krihy, @yizhouxw

reactor
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @krihy, @yizhouxw

fix UT failed
  server/odc-service/src/test/java/com/oceanbase/odc/service/connection/ConnectionConfigMapperTest.java
Owners: @yhilmare, @yizhouxw

support get column group by parser
  libs/db-browser/pom.xml
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/model/DBIndex.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/MysqlModeSqlParserListener.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/OracleModeSqlParserListener.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/OBMySQLBetween2277And3XSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/OBMySQLNoGreaterThan1479SchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/OBMySQLSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/oracle/OBOracleSchemaAccessor.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/OBMySQLTableExtension.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/parser/GetDBTableByParser.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/parser/OBMySQLGetDBTableByParser.java
  server/plugins/schema-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/schema/oboracle/OBOracleTableExtension.java
  server/plugins/schema-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/schema/oboracle/parser/OBOracleGetDBTableByParser.java
Owners: @yhilmare, @PeachThinking, @MarkPotato777

open session full link trace ob 4.x
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/initializer/EnableTraceInitializer.java
Owners: @yhilmare, @krihy

fix(full-link-trace): enable trace by default on OB 4.x (#2347)
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/initializer/EnableTraceInitializer.java
Owners: @yhilmare, @krihy

reactor(taskframework): reactor save log meta data (#2344)
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @krihy, @yizhouxw

add UT
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/editor/DBTableEditor.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/editor/DBObjectUtilsTest.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/editor/MySQLTableEditorTest.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/editor/OracleTableEditorTest.java
  libs/db-browser/src/test/resources/table/operator/ob/mysql/index/create_index_definition_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/mysql/index/create_index_object_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/mysql/index/update_single_index_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/oracle/index/create_index_definition_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/oracle/index/create_index_object_test_cases.json
Owners: @yhilmare, @PeachThinking

fix NPE
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/OracleModeSqlParserListener.java
Owners: @yhilmare, @PeachThinking

Support custom operation partitions.
  pom.xml
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DLMJobFactory.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/AbstractDlmJob.java
Owners: @yhilmare, @yizhouxw, @guowl3, @smallsheeeep

simplify code.
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/model/DataArchiveParameters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/model/DataDeleteParameters.java
Owners: @guowl3, @smallsheeeep

add parti generate prompt
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/constant/ErrorCodes.java
  server/odc-core/src/main/resources/i18n/ErrorMessages.properties
  server/odc-core/src/main/resources/i18n/ErrorMessages_zh_CN.properties
  server/odc-core/src/main/resources/i18n/ErrorMessages_zh_TW.properties
  server/odc-service/src/main/java/com/oceanbase/odc/service/partitionplan/PartitionPlanService.java
Owners: @yhilmare, @yizhouxw, @guowl3

.github/CODEOWNERS:

# ODC code owners, refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo.
*                                   @yhilmare @yizhouxw

# libs
/libs/db-browser/                   @yhilmare @PeachThinking
/libs/ob-sql-parser/                @yhilmare @PeachThinking

# 3rd-party
/server/3rd-party/                  @MarkPotato777 @yhilmare

# common
/server/odc-common/                 @yhilmare @yizhouxw

# migrate
/server/odc-migrate/                @MarkPotato777 @yhilmare

# core
/server/odc-core/                   @yhilmare @yizhouxw
/server/odc-core/**/alarm/          @LuckyPickleZZ
/server/odc-core/**/authority/      @yhilmare
/server/odc-core/**/datamasking/    @smallsheeeep
/server/odc-core/**/datasource/     @yhilmare
/server/odc-core/**/flow/           @yhilmare
/server/odc-core/**/migrate/        @yhilmare @yizhouxw
/server/odc-core/**/session/        @yhilmare
/server/odc-core/**/shared/         @yhilmare @yizhouxw
/server/odc-core/**/sql/            @yhilmare @LuckyPickleZZ
/server/odc-core/**/task/           @yhilmare @krihy

# service common
/server/odc-service/                                  @yhilmare @yizhouxw
/server/odc-service/**/config/                        @yhilmare @yizhouxw
/server/odc-service/**/metadb/                        @yhilmare @yizhouxw
/server/odc-service/**/service/common/                @yhilmare @MarkPotato777

# service business
/server/odc-service/**/service/audit/                 @MarkPotato777 @yizhouxw
/server/odc-service/**/service/automation/            @LuckyPickleZZ @ungreat
/server/odc-service/**/service/captcha/               @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/collaboration/         @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/config/                @MarkPotato777 @yizhouxw
/server/odc-service/**/service/datasecurity/          @smallsheeeep @yhilmare
/server/odc-service/**/service/datatransfer/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/db/                    @PeachThinking @yhilmare
/server/odc-service/**/service/diagnose/              @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/dispatch/              @yhilmare  @yizhouxw
/server/odc-service/**/service/dlm/                   @guowl3 @smallsheeeep
/server/odc-service/**/service/dml/                   @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/encryption/            @smallsheeeep @yizhouxw
/server/odc-service/**/service/feature/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/flow/                  @yhilmare @krihy
/server/odc-service/**/service/i18n/                  @LuckyPickleZZ
/server/odc-service/**/service/iam/                   @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/info/                  @yhilmare @yizhouxw
/server/odc-service/**/service/integration/           @smallsheeeep @ungreat
/server/odc-service/**/service/lab/                   @LuckyPickleZZ @ungreat
/server/odc-service/**/service/monitor/               @ungreat @yizhouxw
/server/odc-service/**/service/notification/          @LuckyPickleZZ @MarkPotato777
/server/odc-service/**/service/objectstorage/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/onlineschemachange/    @krihy @LuckyPickleZZ
/server/odc-service/**/service/partitionplan/         @guowl3 @yhilmare
/server/odc-service/**/service/permission/            @smallsheeeep @yhilmare
/server/odc-service/**/service/pldebug/               @yhilmare @krihy
/server/odc-service/**/service/plugin/                @yhilmare @krihy
/server/odc-service/**/service/quartz/                @guowl3 @yhilmare
/server/odc-service/**/service/requlation/            @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/resourcegroup/         @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/resultset/             @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/rollbackplan/          @PeachThinking @MarkPotato777
/server/odc-service/**/service/schedule/              @guowl3 @yhilmare
/server/odc-service/**/service/script/                @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/session/               @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/shadowtable/           @MarkPotato777 @PeachThinking
/server/odc-service/**/service/snippet/               @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/sqlcheck/              @yhilmare @PeachThinking
/server/odc-service/**/service/structurecompare/      @PeachThinking @yhilmare
/server/odc-service/**/service/systemconfig/          @MarkPotato777  @yizhouxw
/server/odc-service/**/service/task/                  @yhilmare @krihy @yizhouxw
/server/odc-service/**/service/websocket/             @LuckyPickleZZ  @yizhouxw

# plugins
/server/plugins/                                      @yhilmare @yizhouxw
/server/plugins/connect-plugin-doris/                 @yhilmare @krihy
/server/plugins/connect-plugin-mysql/                 @yhilmare @krihy
/server/plugins/connect-plugin-ob-mysql/              @yhilmare @krihy
/server/plugins/connect-plugin-ob-oracle/             @yhilmare @krihy
/server/plugins/connect-plugin-oracle/                @yhilmare @krihy

/server/plugins/schema-plugin-api/                    @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-doris/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-mysql/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-mysql/               @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-oracle/              @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-odp-sharding-ob-mysql/  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-oracle/                 @PeachThinking @MarkPotato777

/server/plugins/task-plugin-api/                      @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-doris/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-mysql/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-mysql/                 @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-oracle/                @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-oracle/                   @LuckyPickleZZ @yhilmare


# starters
/server/starters/                                     @yhilmare @yizhouxw
/server/starters/desktop-starter/                     @yhilmare @yizhouxw
/server/starters/web-starter/                         @yhilmare @MarkPotato777


# CI/CD
/.github/                    @smallsheeeep @yhilmare @yizhouxw
/builds/                     @smallsheeeep @yhilmare @yizhouxw
/script/                     @smallsheeeep @yhilmare @yizhouxw
/distribution/               @smallsheeeep @yhilmare @yizhouxw
/server/odc-test/            @smallsheeeep @yhilmare @yizhouxw
/server/integration-test/    @smallsheeeep @yhilmare @yizhouxw
/server/test-script/         @smallsheeeep @yhilmare @yizhouxw


# docs
/docs/                      @Jane201510 @yhilmare @yizhouxw
CHANGELOG.md                @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
CHANGELOG-zh-CN.md          @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
README.md                   @Jane201510 @JessieWuJiexi @yizhouxw
README-zh.md                @Jane201510 @JessieWuJiexi @yizhouxw
