Repository oceanbase/odc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yhilmare, @yizhouxw, @PeachThinking, @MarkPotato777, @LuckyPickleZZ, @smallsheeeep, @krihy, @ungreat, @guowl3, @Jane201510, @JessieWuJiexi

.github/CODEOWNERS:

# ODC code owners, refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo.
*                                   @yhilmare @yizhouxw

# libs
/libs/db-browser/                   @yhilmare @PeachThinking
/libs/ob-sql-parser/                @yhilmare @PeachThinking

# 3rd-party
/server/3rd-party/                  @MarkPotato777 @yhilmare

# common
/server/odc-common/                 @yhilmare @yizhouxw

# migrate
/server/odc-migrate/                @MarkPotato777 @yhilmare

# core
/server/odc-core/                   @yhilmare @yizhouxw
/server/odc-core/**/alarm/          @LuckyPickleZZ
/server/odc-core/**/authority/      @yhilmare
/server/odc-core/**/datamasking/    @smallsheeeep
/server/odc-core/**/datasource/     @yhilmare
/server/odc-core/**/flow/           @yhilmare
/server/odc-core/**/migrate/        @yhilmare @yizhouxw
/server/odc-core/**/session/        @yhilmare
/server/odc-core/**/shared/         @yhilmare @yizhouxw
/server/odc-core/**/sql/            @yhilmare @LuckyPickleZZ
/server/odc-core/**/task/           @yhilmare @krihy

# service common
/server/odc-service/                                  @yhilmare @yizhouxw
/server/odc-service/**/config/                        @yhilmare @yizhouxw
/server/odc-service/**/metadb/                        @yhilmare @yizhouxw
/server/odc-service/**/service/common/                @yhilmare @MarkPotato777

# service business
/server/odc-service/**/service/audit/                 @MarkPotato777 @yizhouxw
/server/odc-service/**/service/automation/            @LuckyPickleZZ @ungreat
/server/odc-service/**/service/captcha/               @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/collaboration/         @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/config/                @MarkPotato777 @yizhouxw
/server/odc-service/**/service/datasecurity/          @smallsheeeep @yhilmare
/server/odc-service/**/service/datatransfer/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/db/                    @PeachThinking @yhilmare
/server/odc-service/**/service/diagnose/              @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/dispatch/              @yhilmare  @yizhouxw
/server/odc-service/**/service/dlm/                   @guowl3 @smallsheeeep
/server/odc-service/**/service/dml/                   @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/encryption/            @smallsheeeep @yizhouxw
/server/odc-service/**/service/feature/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/flow/                  @yhilmare @krihy
/server/odc-service/**/service/i18n/                  @LuckyPickleZZ
/server/odc-service/**/service/iam/                   @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/info/                  @yhilmare @yizhouxw
/server/odc-service/**/service/integration/           @smallsheeeep @ungreat
/server/odc-service/**/service/lab/                   @LuckyPickleZZ @ungreat
/server/odc-service/**/service/monitor/               @ungreat @yizhouxw
/server/odc-service/**/service/notification/          @LuckyPickleZZ @MarkPotato777
/server/odc-service/**/service/objectstorage/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/onlineschemachange/    @krihy @LuckyPickleZZ
/server/odc-service/**/service/partitionplan/         @guowl3 @yhilmare
/server/odc-service/**/service/permission/            @smallsheeeep @yhilmare
/server/odc-service/**/service/pldebug/               @yhilmare @krihy
/server/odc-service/**/service/plugin/                @yhilmare @krihy
/server/odc-service/**/service/quartz/                @guowl3 @yhilmare
/server/odc-service/**/service/requlation/            @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/resourcegroup/         @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/resultset/             @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/rollbackplan/          @PeachThinking @MarkPotato777
/server/odc-service/**/service/schedule/              @guowl3 @yhilmare
/server/odc-service/**/service/script/                @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/session/               @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/shadowtable/           @MarkPotato777 @PeachThinking
/server/odc-service/**/service/snippet/               @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/sqlcheck/              @yhilmare @PeachThinking
/server/odc-service/**/service/structurecompare/      @PeachThinking @yhilmare
/server/odc-service/**/service/systemconfig/          @MarkPotato777  @yizhouxw
/server/odc-service/**/service/task/                  @yhilmare @krihy @yizhouxw
/server/odc-service/**/service/websocket/             @LuckyPickleZZ  @yizhouxw

# plugins
/server/plugins/                                      @yhilmare @yizhouxw
/server/plugins/connect-plugin-doris/                 @yhilmare @krihy
/server/plugins/connect-plugin-mysql/                 @yhilmare @krihy
/server/plugins/connect-plugin-ob-mysql/              @yhilmare @krihy
/server/plugins/connect-plugin-ob-oracle/             @yhilmare @krihy
/server/plugins/connect-plugin-oracle/                @yhilmare @krihy

/server/plugins/schema-plugin-api/                    @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-doris/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-mysql/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-mysql/               @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-oracle/              @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-odp-sharding-ob-mysql/  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-oracle/                 @PeachThinking @MarkPotato777

/server/plugins/task-plugin-api/                      @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-doris/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-mysql/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-mysql/                 @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-oracle/                @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-oracle/                   @LuckyPickleZZ @yhilmare


# starters
/server/starters/                                     @yhilmare @yizhouxw
/server/starters/desktop-starter/                     @yhilmare @yizhouxw
/server/starters/web-starter/                         @yhilmare @MarkPotato777


# CI/CD
/.github/                    @smallsheeeep @yhilmare @yizhouxw
/builds/                     @smallsheeeep @yhilmare @yizhouxw
/script/                     @smallsheeeep @yhilmare @yizhouxw
/distribution/               @smallsheeeep @yhilmare @yizhouxw
/server/odc-test/            @smallsheeeep @yhilmare @yizhouxw
/server/integration-test/    @smallsheeeep @yhilmare @yizhouxw
/server/test-script/         @smallsheeeep @yhilmare @yizhouxw


# docs
/docs/                      @Jane201510 @yhilmare @yizhouxw
CHANGELOG.md                @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
CHANGELOG-zh-CN.md          @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
README.md                   @Jane201510 @JessieWuJiexi @yizhouxw
README-zh.md                @Jane201510 @JessieWuJiexi @yizhouxw

response to CR and fix UT
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/model/DBColumnGroupElement.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/DBSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/doris/DorisSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/MySQLNoLessThan5700SchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/OBMySQLSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/oracle/OBOracleSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/oracle/OracleSchemaAccessor.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/OBMySQLTableExtension.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/parser/GetDBTableByParser.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/parser/OBMySQLGetDBTableByParser.java
  server/plugins/schema-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/schema/oboracle/OBOracleTableExtension.java
  server/plugins/schema-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/schema/oboracle/parser/OBOracleGetDBTableByParser.java
Owners: @yhilmare, @PeachThinking, @MarkPotato777

code format
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/TaskShardStatus.java
Owners: @guowl3, @yhilmare

format code
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/OBMySQLTableExtension.java
Owners: @PeachThinking, @MarkPotato777

response comments
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/DataArchiveExecutionDetail.java
Owners: @guowl3, @yhilmare

response to CR comments
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/DBSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/doris/DorisSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/MySQLNoLessThan5700SchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/OBMySQLSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/oracle/OBOracleSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/oracle/OracleSchemaAccessor.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/OBMySQLTableExtension.java
Owners: @yhilmare, @PeachThinking, @MarkPotato777

format code
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/caller/ProcessJobCaller.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/DefaultJobConfiguration.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/DefaultSpringJobConfiguration.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/DefaultTaskFrameworkProperties.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/JobConfiguration.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/ResourceDetectJobStore.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/TaskFrameworkConfiguration.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/StartPreparingJob.java
Owners: @yhilmare, @krihy, @yizhouxw

fix log4j log
  server/odc-server/src/main/resources/log4j2.xml
Owners: @yhilmare, @yizhouxw

fix comment
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/ResourceDetectJobStore.java
Owners: @yhilmare, @krihy, @yizhouxw

Modify code format and optimize performance
  server/integration-test/src/test/java/com/oceanbase/odc/metadb/databasechange/DatabaseChangeChangingOrderTemplateRepositoryTest.java
  server/integration-test/src/test/java/com/oceanbase/odc/service/databasechange/DatabaseChangeChangingOrderTemplateServiceTest.java
  server/odc-core/src/main/resources/i18n/BusinessMessages_zh_TW.properties
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/DatabaseChangeController.java
  server/odc-server/src/main/resources/log4j2.xml
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/databasechange/DatabaseChangeChangingOrderTemplateEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/databasechange/DatabaseChangeChangingOrderTemplateSpecs.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/collaboration/environment/EnvironmentService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/DatabaseService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/DatabaseChangeChangingOrderTemplateService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/MultipleDatabaseChangePreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/MultipleDatabaseChangeTraceContextHolder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/model/CreateDatabaseChangeChangingOrderReq.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/model/DatabaseChangeProperties.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowInstanceService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowTaskInstanceService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/processor/CreateFlowInstanceProcessAspect.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/MultipleDatabaseChangeRuntimeFlowableTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/PreCheckRuntimeFlowableTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/model/MultipleDatabaseChangeParameters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/model/MultipleDatabaseChangeTaskResult.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/util/DescriptionGenerator.java
Owners: @smallsheeeep, @yhilmare, @yizhouxw, @MarkPotato777, @krihy

bug fix(2): modify the error description
  server/odc-service/src/main/java/com/oceanbase/odc/config/HookConfiguration.java
Owners: @yhilmare, @yizhouxw

response to CR comment
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/ConnectionService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/ConnectionValidator.java
Owners: @yhilmare, @yizhouxw

fix(web-framework): csrf prevention conflict with basic authentication
  server/odc-service/src/main/java/com/oceanbase/odc/config/CsrfConfigureHelper.java
Owners: @yhilmare, @yizhouxw

feat(object-management): add accessor and service support for column-group (#2349)
  libs/db-browser/pom.xml
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/editor/DBTableEditor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/editor/DBTableIndexEditor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/model/DBColumnGroupElement.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/model/DBIndex.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/model/DBTable.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/model/DBTableIndex.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/MysqlModeSqlParserListener.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/OracleModeSqlParserListener.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/DBSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/doris/DorisSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/MySQLNoLessThan5700SchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/OBMySQLBetween2277And3XSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/OBMySQLNoGreaterThan1479SchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/OBMySQLSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/oracle/OBOracleSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/oracle/OracleSchemaAccessor.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/editor/DBObjectUtilsTest.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/editor/MySQLTableEditorTest.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/editor/OracleTableEditorTest.java
  libs/db-browser/src/test/resources/table/operator/ob/mysql/index/create_index_definition_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/mysql/index/create_index_object_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/mysql/index/update_single_index_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/oracle/index/create_index_definition_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/oracle/index/create_index_object_test_cases.json
  server/odc-migrate/src/main/resources/migrate/common/R_2_0_0__initialize_version_diff_config.sql
  server/odc-service/src/main/java/com/oceanbase/odc/service/structurecompare/comparedbobject/DBTableStructureComparator.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/OBMySQLTableExtension.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/parser/GetDBTableByParser.java
  server/plugins/schema-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/schema/oboracle/OBOracleTableExtension.java
Owners: @yhilmare, @PeachThinking, @MarkPotato777

fix concurrent issue
  server/odc-common/src/main/java/com/oceanbase/odc/common/crypto/RsaBytesEncryptor.java
  server/odc-common/src/test/java/com/oceanbase/odc/common/crypto/RsaBytesEncryptorTest.java
Owners: @yhilmare, @yizhouxw

fix(odp-sharding): cannot connect to odp sharding (#2339)
  server/odc-common/src/main/java/com/oceanbase/odc/common/util/ExceptionUtils.java
  server/odc-common/src/test/java/com/oceanbase/odc/common/util/ExceptionUtilsTest.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/constant/ConnectType.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/ConnectionService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/ConnectionValidator.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/model/ConnectionConfig.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/ConnectConsoleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/model/SqlExecuteResult.java
  server/odc-service/src/test/java/com/oceanbase/odc/service/connection/ConnectionConfigMapperTest.java
Owners: @yhilmare, @yizhouxw, @LuckyPickleZZ

fix(web-framework): csrf prevention conflict with basic authentication (#2370)
  server/odc-service/src/main/java/com/oceanbase/odc/config/CsrfConfigureHelper.java
Owners: @yhilmare, @yizhouxw

add unique_identifier in collaboration_project
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_4__add_unique_identifier.sql
Owners: @MarkPotato777, @yhilmare

fix(data-masking): unavailable when existing invalid database with duplicated name (#2355)
  server/odc-service/src/main/java/com/oceanbase/odc/service/datasecurity/SensitiveColumnService.java
Owners: @smallsheeeep, @yhilmare

fix(encryption): exception occurs when invoking RSA decryption concurrently (#2371)
  server/odc-common/src/main/java/com/oceanbase/odc/common/crypto/RsaBytesEncryptor.java
  server/odc-common/src/test/java/com/oceanbase/odc/common/crypto/RsaBytesEncryptorTest.java
Owners: @yhilmare, @yizhouxw

fix(account-integration): failed to login after updating user extra properties (#2336)
  server/odc-service/src/main/java/com/oceanbase/odc/service/iam/UserService.java
Owners: @MarkPotato777, @smallsheeeep

delete index idx_collaboration_project_unique_identifier
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_4__add_unique_identifier.sql
Owners: @MarkPotato777, @yhilmare

feat(migrate): add unique identifier in collaboration project (#2372)
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_4__add_unique_identifier.sql
Owners: @MarkPotato777, @yhilmare

bugfix(3): config file modify to default
  .idea/runConfigurations/mvn_clean_install_test.xml
Owners: @yhilmare, @yizhouxw

bugfix(4): roll back an unnecessary modify
  server/odc-service/src/main/java/com/oceanbase/odc/config/HookConfiguration.java
Owners: @yhilmare, @yizhouxw

bugfix(5): code format
  server/odc-service/src/main/java/com/oceanbase/odc/config/HookConfiguration.java
Owners: @yhilmare, @yizhouxw

fix(iam): failed to delete a user who is an archived project's Owner or DBA (#2359)
  server/odc-service/src/main/java/com/oceanbase/odc/config/HookConfiguration.java
Owners: @yhilmare, @yizhouxw

verification stash
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/LogicalDatabaseController.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/LogicalTableService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/SchemaConsistencyVerificationTask.java
Owners: @yhilmare, @yizhouxw

fix(encryption): exception occurs when invoking RSA decryption concurrently (#2371)
  server/odc-common/src/main/java/com/oceanbase/odc/common/crypto/RsaBytesEncryptor.java
  server/odc-common/src/test/java/com/oceanbase/odc/common/crypto/RsaBytesEncryptorTest.java
Owners: @yhilmare, @yizhouxw

fix(encryption): exception occurs when invoking RSA decryption concurrently (#2371) (#2374)
  server/odc-common/src/main/java/com/oceanbase/odc/common/crypto/RsaBytesEncryptor.java
  server/odc-common/src/test/java/com/oceanbase/odc/common/crypto/RsaBytesEncryptorTest.java
Owners: @yhilmare, @yizhouxw

migrate history uniqueIdentifier in collaboration_project
  server/odc-migrate/src/main/java/com/oceanbase/odc/migrate/jdbc/common/V4305CollaborationProjectMigrate.java
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_4__add_unique_identifier.sql
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_6__add_unique_constraint.sql
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/collaboration/ProjectEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/collaboration/project/ProjectService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/collaboration/project/model/Project.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw, @smallsheeeep

modify unique key name
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_6__add_unique_constraint.sql
Owners: @MarkPotato777, @yhilmare

modify for pr comment
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/ResourceDetectJobStore.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/TaskFrameworkConfiguration.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/constants/JobConstants.java
Owners: @yhilmare, @krihy, @yizhouxw

fix ut test
  server/integration-test/src/test/java/com/oceanbase/odc/service/collaboration/ProjectServiceTest.java
Owners: @smallsheeeep, @yhilmare, @yizhouxw

builds: fix failed to install pnpm (#2248)
  .github/workflows/build_artifact.yaml
  .github/workflows/build_daily.yaml
  .github/workflows/build_release.yaml
  distribution/docker/odc-build/create_node_env.sh
  script/functions.sh
Owners: @smallsheeeep, @yhilmare, @yizhouxw

response to reveiw
  server/odc-migrate/src/main/java/com/oceanbase/odc/migrate/jdbc/common/V4305CollaborationProjectMigrate.java
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_4__add_unique_identifier.sql
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_6__add_unique_constraint.sql
Owners: @MarkPotato777, @yhilmare

response comments
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/dlm/DlmJobStatisticEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/dlm/DlmJobStatisticRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskShardRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DLMService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DataArchiveJobStore.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleTaskService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/DataArchiveExecutionDetail.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/DlmExecutionDetail.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ExecutionDetail.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleTaskResp.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleTaskShard.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/TaskShardStatus.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/utils/ScheduleTaskShardMapper.java
Owners: @yhilmare, @yizhouxw, @guowl3, @smallsheeeep

format code
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/StdJobScheduler.java
Owners: @yhilmare, @krihy, @yizhouxw

Finished ignoring error execution in automatic mode and fixed the issue of checking multiple sql displays
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_3__add_databasechange_changingorder_template.sql
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/DatabaseChangeController.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/databasechange/DatabaseChangeChangingOrderTemplateEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/DatabaseChangeChangingOrderTemplateService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/MultipleDatabaseChangePreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/model/DatabaseChangingOrderTemplateEnables.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/model/QueryDatabaseChangeChangingOrderResp.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowInstanceService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowTaskInstanceService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/MultipleDatabaseChangeRuntimeFlowableTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/PreCheckRuntimeFlowableTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/model/MultipleDatabaseChangeParameters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/model/MultipleSqlCheckTaskResult.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/model/RuntimeTaskConstants.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/util/DescriptionGenerator.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/util/FlowTaskUtil.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/sqlcheck/SqlCheckService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/TaskService.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw, @krihy, @PeachThinking

1. support build web in arm64
  .github/workflows/build_artifact.yaml
  .github/workflows/build_daily.yaml
  .github/workflows/build_release.yaml
Owners: @smallsheeeep, @yhilmare, @yizhouxw

fix template create and update
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/DatabaseChangeChangingOrderTemplateService.java
Owners: @yhilmare, @yizhouxw
