Repository oceanbase/odc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yhilmare, @yizhouxw, @PeachThinking, @MarkPotato777, @LuckyPickleZZ, @ungreat, @guowl3, @kiko-art, @yiminpeng, @LioRoger, @Jane201510, @JessieWuJiexi

response to CR comments
  CHANGELOG-zh-CN.md
  CHANGELOG.md
Owners: @Jane201510, @JessieWuJiexi, @yhilmare, @yizhouxw

docs: update 4.3.1 changelog (#3038)
  CHANGELOG-zh-CN.md
  CHANGELOG.md
  CHANGELOG.rst
Owners: @Jane201510, @JessieWuJiexi, @yhilmare, @yizhouxw

fix db permission
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/PreCheckRuntimeFlowableTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/interceptor/DBResourcePermissionInterceptor.java
Owners: @yhilmare, @yizhouxw, @LuckyPickleZZ

fix anonymous block parse error
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/util/DBSchemaExtractor.java
  server/odc-service/src/test/java/com/oceanbase/odc/service/session/DBSchemaExtractorTest.java
Owners: @yhilmare, @LuckyPickleZZ

response to comments
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowInstanceService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/PreCheckRuntimeFlowableTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/permission/DBResourcePermissionHelper.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/interceptor/DBResourcePermissionInterceptor.java
Owners: @yhilmare, @yizhouxw, @MarkPotato777, @LuckyPickleZZ

fix anonymous block parse error
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/util/DBSchemaExtractor.java
Owners: @yhilmare, @LuckyPickleZZ

fix(database-permission): wrongly recognize packages as schemas (#3067)
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/PreCheckRuntimeFlowableTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/interceptor/DBResourcePermissionInterceptor.java
Owners: @yhilmare, @yizhouxw, @LuckyPickleZZ

init dao layer for git integration
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_2_1__add_integration_git.sql
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/integration/git/GitRepoRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/integration/git/GitRepositoryEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/GitProvider.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/GitRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/VcsProvider.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw, @yiminpeng, @ungreat

add jgit dependency and sdk implement
  pom.xml
  server/odc-service/pom.xml
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/GitClientOperator.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/FileChangeType.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/GitDiff.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/GitStatus.java
  server/odc-service/src/test/java/com/oceanbase/odc/service/integration/git/GitClientOperatorTest.java
Owners: @yhilmare, @yizhouxw, @yiminpeng, @ungreat

add github and gitlab api client
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/GithubEFacadeImpl.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/GithubFacadeImpl.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/GitlabEFacadeImpl.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/GitlabFacadeImpl.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/VcsFacade.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/VcsFacadeMapper.java
Owners: @yiminpeng, @ungreat

add git repo mapper
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/GitRepositoryMapper.java
Owners: @yiminpeng, @ungreat

format code
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/integration/git/GitRepoRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/integration/git/GitRepositoryEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/GitClientOperator.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/FileChangeType.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/GitDiff.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/GitProvider.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/GitRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/GitRepositoryMapper.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/GitStatus.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/model/VcsProvider.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/GithubEFacadeImpl.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/GithubFacadeImpl.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/GitlabEFacadeImpl.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/GitlabFacadeImpl.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/VcsFacade.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/git/vcs/VcsFacadeMapper.java
  server/odc-service/src/test/java/com/oceanbase/odc/service/integration/git/GitClientOperatorTest.java
Owners: @yhilmare, @yizhouxw, @yiminpeng, @ungreat

merge 430 to 24v2
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/Task.java
Owners: @yhilmare, @yizhouxw

fix
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/PreCheckRuntimeFlowableTask.java
Owners: @yhilmare, @yizhouxw

response to pr comments
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/util/DBSchemaExtractor.java
Owners: @yhilmare, @LuckyPickleZZ

.github/CODEOWNERS:

# ODC code owners, refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo.
*                                   @yhilmare @yizhouxw

# libs
/libs/db-browser/                   @yhilmare @PeachThinking
/libs/ob-sql-parser/                @yhilmare @PeachThinking

# 3rd-party
/server/3rd-party/                  @MarkPotato777 @yhilmare

# common
/server/odc-common/                 @yhilmare @yizhouxw

# migrate
/server/odc-migrate/                @MarkPotato777 @yhilmare

# core
/server/odc-core/                   @yhilmare @yizhouxw
/server/odc-core/**/alarm/          @LuckyPickleZZ
/server/odc-core/**/authority/      @yhilmare
/server/odc-core/**/datamasking/    @LuckyPickleZZ
/server/odc-core/**/datasource/     @yhilmare
/server/odc-core/**/flow/           @yhilmare
/server/odc-core/**/migrate/        @yhilmare @yizhouxw
/server/odc-core/**/session/        @yhilmare
/server/odc-core/**/shared/         @yhilmare @yizhouxw
/server/odc-core/**/sql/            @yhilmare @LuckyPickleZZ
/server/odc-core/**/task/           @yhilmare @yizhouxw

# service common
/server/odc-service/                                  @yhilmare @yizhouxw
/server/odc-service/**/config/                        @yhilmare @yizhouxw
/server/odc-service/**/metadb/                        @yhilmare @yizhouxw
/server/odc-service/**/service/common/                @yhilmare @MarkPotato777

# service business
/server/odc-service/**/service/audit/                 @MarkPotato777 @yizhouxw
/server/odc-service/**/service/automation/            @LuckyPickleZZ @ungreat
/server/odc-service/**/service/captcha/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/collaboration/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/config/                @MarkPotato777 @yizhouxw
/server/odc-service/**/service/datasecurity/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/datatransfer/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/db/                    @PeachThinking @yhilmare
/server/odc-service/**/service/diagnose/              @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/dispatch/              @yhilmare  @yizhouxw
/server/odc-service/**/service/dlm/                   @guowl3 @kiko-art
/server/odc-service/**/service/dml/                   @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/encryption/            @PeachThinking @yizhouxw
/server/odc-service/**/service/feature/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/flow/                  @yhilmare @yizhouxw
/server/odc-service/**/service/i18n/                  @LuckyPickleZZ
/server/odc-service/**/service/iam/                   @MarkPotato777 @PeachThinking
/server/odc-service/**/service/info/                  @yhilmare @yizhouxw
/server/odc-service/**/service/integration/           @yiminpeng @ungreat
/server/odc-service/**/service/lab/                   @LuckyPickleZZ @ungreat
/server/odc-service/**/service/monitor/               @ungreat @yizhouxw
/server/odc-service/**/service/notification/          @LuckyPickleZZ @MarkPotato777
/server/odc-service/**/service/objectstorage/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/onlineschemachange/    @LioRoger @LuckyPickleZZ
/server/odc-service/**/service/partitionplan/         @guowl3 @yhilmare
/server/odc-service/**/service/permission/            @MarkPotato777 @yhilmare
/server/odc-service/**/service/pldebug/               @yhilmare @yizhouxw
/server/odc-service/**/service/plugin/                @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/quartz/                @guowl3 @yhilmare
/server/odc-service/**/service/requlation/            @MarkPotato777 @yhilmare
/server/odc-service/**/service/resourcegroup/         @MarkPotato777 @yhilmare
/server/odc-service/**/service/resultset/             @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/rollbackplan/          @PeachThinking @MarkPotato777
/server/odc-service/**/service/schedule/              @guowl3 @yhilmare
/server/odc-service/**/service/script/                @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/session/               @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/shadowtable/           @MarkPotato777 @PeachThinking
/server/odc-service/**/service/snippet/               @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/sqlcheck/              @yhilmare @PeachThinking
/server/odc-service/**/service/structurecompare/      @PeachThinking @yhilmare
/server/odc-service/**/service/systemconfig/          @MarkPotato777  @yizhouxw
/server/odc-service/**/service/task/                  @yhilmare @yizhouxw
/server/odc-service/**/service/websocket/             @LuckyPickleZZ  @yizhouxw

# plugins
/server/plugins/                                      @yhilmare @yizhouxw
/server/plugins/connect-plugin-doris/                 @yhilmare @yizhouxw
/server/plugins/connect-plugin-mysql/                 @yhilmare @yizhouxw
/server/plugins/connect-plugin-ob-mysql/              @yhilmare @yizhouxw
/server/plugins/connect-plugin-ob-oracle/             @yhilmare @yizhouxw
/server/plugins/connect-plugin-oracle/                @yhilmare @yizhouxw

/server/plugins/schema-plugin-api/                    @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-doris/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-mysql/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-mysql/               @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-oracle/              @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-odp-sharding-ob-mysql/  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-oracle/                 @PeachThinking @MarkPotato777

/server/plugins/task-plugin-api/                      @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-doris/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-mysql/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-mysql/                 @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-oracle/                @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-oracle/                   @LuckyPickleZZ @yhilmare


# starters
/server/starters/                                     @yhilmare @yizhouxw
/server/starters/desktop-starter/                     @yhilmare @yizhouxw
/server/starters/web-starter/                         @yhilmare @MarkPotato777


# CI/CD
/.github/                    @MarkPotato777 @yhilmare @yizhouxw
/builds/                     @MarkPotato777 @yhilmare @yizhouxw
/script/                     @MarkPotato777 @yhilmare @yizhouxw
/distribution/               @MarkPotato777 @yhilmare @yizhouxw
/server/odc-test/            @MarkPotato777 @yhilmare @yizhouxw
/server/integration-test/    @MarkPotato777 @yhilmare @yizhouxw
/server/test-script/         @MarkPotato777 @yhilmare @yizhouxw

# i18n
/server/odc-core/src/main/resources/i18n/     @Jane201510 @JessieWuJiexi @yizhouxw

# docs
/docs/                      @Jane201510 @yhilmare @yizhouxw
CHANGELOG.md                @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
CHANGELOG-zh-CN.md          @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
README.md                   @Jane201510 @JessieWuJiexi @yizhouxw
README-zh.md                @Jane201510 @JessieWuJiexi @yizhouxw
