Repository oceanbase/odc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yhilmare, @yizhouxw, @PeachThinking, @MarkPotato777, @LuckyPickleZZ, @ungreat, @guowl3, @kiko-art, @yiminpeng, @LioRoger, @Jane201510, @JessieWuJiexi

feature: test for pg->ob
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/postgre/PostgresSchemaAccessor.java
Owners: @yhilmare, @PeachThinking

publish alarm when skip execution
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcTriggerListener.java
Owners: @guowl3, @yhilmare

publish alarm when skip execution (#2992)
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcTriggerListener.java
Owners: @guowl3, @yhilmare

double check before execute.
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

double check before execute.
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
Owners: @guowl3, @yhilmare

double check before execute.
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcTriggerListener.java
Owners: @guowl3, @yhilmare

add log
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcTriggerListener.java
Owners: @guowl3, @yhilmare

fix(schedule): concurrent executing job (#2999)
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcTriggerListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

do not print parameters
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/StdJobScheduler.java
Owners: @yhilmare, @yizhouxw

do not print parameters (#3001)
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/StdJobScheduler.java
Owners: @yhilmare, @yizhouxw

add judgment of directing observer
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

modify code format
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

do not print parameters
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/BaseTask.java
Owners: @yhilmare, @yizhouxw

set supported version to [4.2.4, 4.3.0) || [4.3.3, )
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/ConnectConsoleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/OBQueryProfileExecutionListener.java
Owners: @yhilmare, @LuckyPickleZZ

fix explain parse failed
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/diagnose/DiagnoseUtil.java
Owners: @yhilmare, @yizhouxw

Check whether the directly connected sql matches the oracle and mysql modes
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

fix(query-profile): modified the version supporting query profile (#3002)
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/ConnectConsoleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/OBQueryProfileExecutionListener.java
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/diagnose/DiagnoseUtil.java
Owners: @yhilmare, @LuckyPickleZZ, @yizhouxw

Modify the code according to pr
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

modify code format
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

add comment for main method
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

fix
  server/odc-migrate/src/main/resources/migrate/web/V_4_3_1_5__init_max_login_record_time.sql
Owners: @MarkPotato777, @yhilmare

fix
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/DestroyExecutorJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/DoCancelingJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/StartPreparingJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @yizhouxw

fix
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/StartPreparingJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @yizhouxw

fix
  server/odc-migrate/src/main/resources/migrate/web/V_4_3_1_6__init_max_login_record_time.sql
Owners: @MarkPotato777, @yhilmare

fix(alarm): task alarm add exception message (#3004)
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/DestroyExecutorJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/DoCancelingJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/StartPreparingJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @yizhouxw

clean work directory before import
  server/odc-service/src/main/java/com/oceanbase/odc/service/datatransfer/task/DataTransferTask.java
Owners: @LuckyPickleZZ, @yhilmare

fix failed to list individual organization
  server/odc-service/src/main/java/com/oceanbase/odc/service/iam/OrganizationService.java
Owners: @MarkPotato777, @PeachThinking

response to review
  server/odc-service/src/main/java/com/oceanbase/odc/service/iam/OrganizationService.java
Owners: @MarkPotato777, @PeachThinking

fix(organization): failed to list individual organization (#3007)
  server/odc-service/src/main/java/com/oceanbase/odc/service/iam/OrganizationService.java
Owners: @MarkPotato777, @PeachThinking

fix(data-transfer): clean work directory before import (#3006)
  server/odc-service/src/main/java/com/oceanbase/odc/service/datatransfer/task/DataTransferTask.java
Owners: @LuckyPickleZZ, @yhilmare

fix
  server/odc-migrate/src/main/resources/migrate/web/V_4_3_1_6__init_max_login_record_time.sql
Owners: @MarkPotato777, @yhilmare

fix(login): set max_login_record_time_minutes default value to 0 in web mode (#3003)
  server/odc-migrate/src/main/resources/migrate/web/V_4_3_1_6__init_max_login_record_time.sql
Owners: @MarkPotato777, @yhilmare

validate trigger interval when create scheduler.
  server/odc-server/src/main/resources/data.sql
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/processor/CreateFlowInstanceProcessAspect.java
Owners: @yhilmare, @yizhouxw

modify according to pr
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

Optimize readability
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

Don't compare the table structure if syncTableStructure is off.
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/flowtask/DataArchivePreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/AbstractDlmJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/DataArchiveTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/listener/DefaultJobTerminateListener.java
Owners: @guowl3, @yhilmare, @yizhouxw

validate trigger interval when create scheduler. (#3012)
  server/odc-server/src/main/resources/data.sql
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/processor/CreateFlowInstanceProcessAspect.java
Owners: @yhilmare, @yizhouxw

fix(dlm): don't compare the table structure if syncTableStructure is off (#3014)
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/flowtask/DataArchivePreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/AbstractDlmJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/DataArchiveTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/listener/DefaultJobTerminateListener.java
Owners: @guowl3, @yhilmare, @yizhouxw

feat(kill session): adapt global client session and using block in oracle model in kill session (#2978)
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/ConnectSessionController.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @yhilmare, @yizhouxw, @PeachThinking

fix concurrent
  server/integration-test/src/test/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskRepositoryTest.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/constant/TaskStatus.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleTaskService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/AbstractDlmJob.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw, @guowl3

.github/CODEOWNERS:

# ODC code owners, refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo.
*                                   @yhilmare @yizhouxw

# libs
/libs/db-browser/                   @yhilmare @PeachThinking
/libs/ob-sql-parser/                @yhilmare @PeachThinking

# 3rd-party
/server/3rd-party/                  @MarkPotato777 @yhilmare

# common
/server/odc-common/                 @yhilmare @yizhouxw

# migrate
/server/odc-migrate/                @MarkPotato777 @yhilmare

# core
/server/odc-core/                   @yhilmare @yizhouxw
/server/odc-core/**/alarm/          @LuckyPickleZZ
/server/odc-core/**/authority/      @yhilmare
/server/odc-core/**/datamasking/    @LuckyPickleZZ
/server/odc-core/**/datasource/     @yhilmare
/server/odc-core/**/flow/           @yhilmare
/server/odc-core/**/migrate/        @yhilmare @yizhouxw
/server/odc-core/**/session/        @yhilmare
/server/odc-core/**/shared/         @yhilmare @yizhouxw
/server/odc-core/**/sql/            @yhilmare @LuckyPickleZZ
/server/odc-core/**/task/           @yhilmare @yizhouxw

# service common
/server/odc-service/                                  @yhilmare @yizhouxw
/server/odc-service/**/config/                        @yhilmare @yizhouxw
/server/odc-service/**/metadb/                        @yhilmare @yizhouxw
/server/odc-service/**/service/common/                @yhilmare @MarkPotato777

# service business
/server/odc-service/**/service/audit/                 @MarkPotato777 @yizhouxw
/server/odc-service/**/service/automation/            @LuckyPickleZZ @ungreat
/server/odc-service/**/service/captcha/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/collaboration/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/config/                @MarkPotato777 @yizhouxw
/server/odc-service/**/service/datasecurity/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/datatransfer/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/db/                    @PeachThinking @yhilmare
/server/odc-service/**/service/diagnose/              @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/dispatch/              @yhilmare  @yizhouxw
/server/odc-service/**/service/dlm/                   @guowl3 @kiko-art
/server/odc-service/**/service/dml/                   @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/encryption/            @PeachThinking @yizhouxw
/server/odc-service/**/service/feature/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/flow/                  @yhilmare @yizhouxw
/server/odc-service/**/service/i18n/                  @LuckyPickleZZ
/server/odc-service/**/service/iam/                   @MarkPotato777 @PeachThinking
/server/odc-service/**/service/info/                  @yhilmare @yizhouxw
/server/odc-service/**/service/integration/           @yiminpeng @ungreat
/server/odc-service/**/service/lab/                   @LuckyPickleZZ @ungreat
/server/odc-service/**/service/monitor/               @ungreat @yizhouxw
/server/odc-service/**/service/notification/          @LuckyPickleZZ @MarkPotato777
/server/odc-service/**/service/objectstorage/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/onlineschemachange/    @LioRoger @LuckyPickleZZ
/server/odc-service/**/service/partitionplan/         @guowl3 @yhilmare
/server/odc-service/**/service/permission/            @MarkPotato777 @yhilmare
/server/odc-service/**/service/pldebug/               @yhilmare @yizhouxw
/server/odc-service/**/service/plugin/                @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/quartz/                @guowl3 @yhilmare
/server/odc-service/**/service/requlation/            @MarkPotato777 @yhilmare
/server/odc-service/**/service/resourcegroup/         @MarkPotato777 @yhilmare
/server/odc-service/**/service/resultset/             @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/rollbackplan/          @PeachThinking @MarkPotato777
/server/odc-service/**/service/schedule/              @guowl3 @yhilmare
/server/odc-service/**/service/script/                @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/session/               @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/shadowtable/           @MarkPotato777 @PeachThinking
/server/odc-service/**/service/snippet/               @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/sqlcheck/              @yhilmare @PeachThinking
/server/odc-service/**/service/structurecompare/      @PeachThinking @yhilmare
/server/odc-service/**/service/systemconfig/          @MarkPotato777  @yizhouxw
/server/odc-service/**/service/task/                  @yhilmare @yizhouxw
/server/odc-service/**/service/websocket/             @LuckyPickleZZ  @yizhouxw

# plugins
/server/plugins/                                      @yhilmare @yizhouxw
/server/plugins/connect-plugin-doris/                 @yhilmare @yizhouxw
/server/plugins/connect-plugin-mysql/                 @yhilmare @yizhouxw
/server/plugins/connect-plugin-ob-mysql/              @yhilmare @yizhouxw
/server/plugins/connect-plugin-ob-oracle/             @yhilmare @yizhouxw
/server/plugins/connect-plugin-oracle/                @yhilmare @yizhouxw

/server/plugins/schema-plugin-api/                    @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-doris/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-mysql/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-mysql/               @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-oracle/              @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-odp-sharding-ob-mysql/  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-oracle/                 @PeachThinking @MarkPotato777

/server/plugins/task-plugin-api/                      @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-doris/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-mysql/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-mysql/                 @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-oracle/                @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-oracle/                   @LuckyPickleZZ @yhilmare


# starters
/server/starters/                                     @yhilmare @yizhouxw
/server/starters/desktop-starter/                     @yhilmare @yizhouxw
/server/starters/web-starter/                         @yhilmare @MarkPotato777


# CI/CD
/.github/                    @MarkPotato777 @yhilmare @yizhouxw
/builds/                     @MarkPotato777 @yhilmare @yizhouxw
/script/                     @MarkPotato777 @yhilmare @yizhouxw
/distribution/               @MarkPotato777 @yhilmare @yizhouxw
/server/odc-test/            @MarkPotato777 @yhilmare @yizhouxw
/server/integration-test/    @MarkPotato777 @yhilmare @yizhouxw
/server/test-script/         @MarkPotato777 @yhilmare @yizhouxw

# i18n
/server/odc-core/src/main/resources/i18n/     @Jane201510 @JessieWuJiexi @yizhouxw

# docs
/docs/                      @Jane201510 @yhilmare @yizhouxw
CHANGELOG.md                @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
CHANGELOG-zh-CN.md          @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
README.md                   @Jane201510 @JessieWuJiexi @yizhouxw
README-zh.md                @Jane201510 @JessieWuJiexi @yizhouxw
