Repository oceanbase/odc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yhilmare, @yizhouxw, @PeachThinking, @MarkPotato777, @LuckyPickleZZ, @ungreat, @guowl3, @kiko-art, @yiminpeng, @LioRoger, @Jane201510, @JessieWuJiexi

rollback
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleTaskService.java
Owners: @guowl3, @yhilmare

opt exception
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
Owners: @guowl3, @yhilmare

fix(schedule): concurrent execution (#3017)
  server/integration-test/src/test/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskRepositoryTest.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/constant/TaskStatus.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/AbstractDlmJob.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw, @guowl3

delete special yaml
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/BeforeCheckDeleteHook.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/DefaultBeforeCheckDeleteHook.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/Migrates.java
  server/odc-core/src/test/java/com/oceanbase/odc/core/migrate/MigratesTest.java
  server/odc-migrate/src/main/java/com/oceanbase/odc/migrate/AbstractMetaDBMigrate.java
  server/odc-migrate/src/main/resources/init-config/runtime/iam_user_individual_space.yaml
Owners: @yhilmare, @yizhouxw, @MarkPotato777

edit execute logic
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/Migrates.java
Owners: @yhilmare, @yizhouxw

edit delete logic
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/Migrates.java
Owners: @yhilmare, @yizhouxw

sovle the problem in the conv
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/DefaultMigratePreHook.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/MigratePreHook.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/Migrates.java
  server/odc-core/src/test/java/com/oceanbase/odc/core/migrate/MigratesTest.java
  server/odc-migrate/src/main/java/com/oceanbase/odc/migrate/AbstractMetaDBMigrate.java
Owners: @yhilmare, @yizhouxw, @MarkPotato777

several bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/processor/CreateFlowInstanceProcessAspect.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/flowtask/DataDeletePreprocessor.java
Owners: @yhilmare, @yizhouxw, @guowl3

code format
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/Migrates.java
  server/odc-migrate/src/main/java/com/oceanbase/odc/migrate/AbstractMetaDBMigrate.java
Owners: @yhilmare, @yizhouxw, @MarkPotato777

add projectId for default selection
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/model/UnauthorizedDBResource.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/permission/DBResourcePermissionHelper.java
Owners: @yhilmare, @yizhouxw, @MarkPotato777

update changelog
  CHANGELOG.md
  CHANGELOG.rst
Owners: @Jane201510, @JessieWuJiexi, @yhilmare, @yizhouxw

bugfix
  server/plugins/task-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/task/obmysql/partitionplan/datatype/BasePartitionKeyDataTypeFactory.java
Owners: @LuckyPickleZZ, @yhilmare

fix ddl
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/DatabaseService.java
Owners: @yhilmare, @yizhouxw

update changelog
  CHANGELOG-zh-CN.md
  CHANGELOG.md
Owners: @Jane201510, @JessieWuJiexi, @yhilmare, @yizhouxw

update changelog
  CHANGELOG-zh-CN.md
  CHANGELOG.md
Owners: @Jane201510, @JessieWuJiexi, @yhilmare, @yizhouxw

fix(database): creating databases under the data source failed (#3037)
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/DatabaseService.java
Owners: @yhilmare, @yizhouxw

fix(table-permission): not select the specific database/table by default when create the permission application ticket (#3035)
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/model/UnauthorizedDBResource.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/permission/DBResourcePermissionHelper.java
Owners: @yhilmare, @yizhouxw, @MarkPotato777

add component
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/DefaultMigratePreHook.java
Owners: @yhilmare, @yizhouxw

response comments.
  server/plugins/task-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/task/obmysql/partitionplan/datatype/BasePartitionKeyDataTypeFactory.java
  server/plugins/task-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/task/obmysql/partitionplan/datatype/OBMySQLPartitionKeyDataTypeFactory.java
Owners: @LuckyPickleZZ, @yhilmare

response comments.
  server/plugins/task-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/task/obmysql/partitionplan/OBMySQLAutoPartitionExtensionPoint.java
  server/plugins/task-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/task/obmysql/partitionplan/datatype/OBMySQLPartitionKeyDataTypeFactory.java
Owners: @LuckyPickleZZ, @yhilmare

fix(dlm): several bug related to editing data cleaning (#3033)
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/processor/CreateFlowInstanceProcessAspect.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/flowtask/DataDeletePreprocessor.java
Owners: @yhilmare, @yizhouxw, @guowl3

fix(partition-plan): can not recognize the partition key's data type on mysql mode (#3039)
  server/plugins/task-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/task/obmysql/partitionplan/OBMySQLAutoPartitionExtensionPoint.java
Owners: @LuckyPickleZZ, @yhilmare

feat(migrate): create built-in project for migrate and add hook to execute pre logic (#3029)
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/DefaultMigratePreHook.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/MigratePreHook.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/Migrates.java
  server/odc-core/src/test/java/com/oceanbase/odc/core/migrate/MigratesTest.java
  server/odc-migrate/src/main/java/com/oceanbase/odc/migrate/AbstractMetaDBMigrate.java
Owners: @yhilmare, @yizhouxw, @MarkPotato777

update changelog
  CHANGELOG-zh-CN.md
  CHANGELOG.md
Owners: @Jane201510, @JessieWuJiexi, @yhilmare, @yizhouxw

fix table permission
  ${ctx:task.workspace}/ob-loader-dumper.all
  ${ctx:task.workspace}/ob-loader-dumper.warn
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowInstanceService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/util/FlowTaskUtil.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/permission/DBResourcePermissionHelper.java
Owners: @yhilmare, @yizhouxw, @MarkPotato777

delete log
  ${ctx:task.workspace}/ob-loader-dumper.all
  ${ctx:task.workspace}/ob-loader-dumper.warn
Owners: @yhilmare, @yizhouxw

fix table permission
  server/odc-service/src/main/java/com/oceanbase/odc/service/permission/DBResourcePermissionHelper.java
Owners: @MarkPotato777, @yhilmare

fix table permission log path
  server/odc-server/src/main/resources/log4j2.xml
Owners: @yhilmare, @yizhouxw

create target table if sync table structure is off on mysql mode.
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DLMTableStructureSynchronizer.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/AbstractDlmJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/DataArchiveTask.java
Owners: @guowl3, @kiko-art, @yhilmare, @yizhouxw

fix(table-permission): could create tickets when users have no permission to the database (#3046)
  server/odc-service/src/main/java/com/oceanbase/odc/service/permission/DBResourcePermissionHelper.java
Owners: @MarkPotato777, @yhilmare

fix(table-permission): table permission apply tickets warning log not found (#3049)
  server/odc-server/src/main/resources/log4j2.xml
Owners: @yhilmare, @yizhouxw

fix(dlm): create the target table if the sync table structure is off in MySQL mode (#3050)
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DLMTableStructureSynchronizer.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/AbstractDlmJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/DataArchiveTask.java
Owners: @guowl3, @kiko-art, @yhilmare, @yizhouxw

code optimize
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/BeforeMigrate.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/DefaultBeforeMigrate.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/Migrates.java
  server/odc-core/src/test/java/com/oceanbase/odc/core/migrate/MigratesTest.java
  server/odc-migrate/src/main/java/com/oceanbase/odc/migrate/AbstractMetaDBMigrate.java
Owners: @yhilmare, @yizhouxw, @MarkPotato777

code format
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/DefaultBeforeMigrate.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/Migrates.java
Owners: @yhilmare, @yizhouxw

code format
  server/odc-migrate/src/main/java/com/oceanbase/odc/migrate/AbstractMetaDBMigrate.java
Owners: @MarkPotato777, @yhilmare

code formate
  server/odc-migrate/src/main/java/com/oceanbase/odc/migrate/AbstractMetaDBMigrate.java
Owners: @MarkPotato777, @yhilmare

code optimize
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/BeforeMigrate.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/DefaultBeforeMigrate.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/DefaultMigratePreHook.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/MigratePreHook.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/migrate/Migrates.java
  server/odc-core/src/test/java/com/oceanbase/odc/core/migrate/MigratesTest.java
  server/odc-migrate/src/main/java/com/oceanbase/odc/migrate/AbstractMetaDBMigrate.java
Owners: @yhilmare, @yizhouxw, @MarkPotato777

fix table permission
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/model/DBResource.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowInstanceService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/PreCheckRuntimeFlowableTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/interceptor/DBResourcePermissionInterceptor.java
Owners: @yhilmare, @yizhouxw, @LuckyPickleZZ

fix export all db objects
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowInstanceService.java
Owners: @yhilmare, @yizhouxw

set spring annotate
  server/odc-migrate/src/main/java/com/oceanbase/odc/migrate/AbstractMetaDBMigrate.java
Owners: @MarkPotato777, @yhilmare

.github/CODEOWNERS:

# ODC code owners, refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo.
*                                   @yhilmare @yizhouxw

# libs
/libs/db-browser/                   @yhilmare @PeachThinking
/libs/ob-sql-parser/                @yhilmare @PeachThinking

# 3rd-party
/server/3rd-party/                  @MarkPotato777 @yhilmare

# common
/server/odc-common/                 @yhilmare @yizhouxw

# migrate
/server/odc-migrate/                @MarkPotato777 @yhilmare

# core
/server/odc-core/                   @yhilmare @yizhouxw
/server/odc-core/**/alarm/          @LuckyPickleZZ
/server/odc-core/**/authority/      @yhilmare
/server/odc-core/**/datamasking/    @LuckyPickleZZ
/server/odc-core/**/datasource/     @yhilmare
/server/odc-core/**/flow/           @yhilmare
/server/odc-core/**/migrate/        @yhilmare @yizhouxw
/server/odc-core/**/session/        @yhilmare
/server/odc-core/**/shared/         @yhilmare @yizhouxw
/server/odc-core/**/sql/            @yhilmare @LuckyPickleZZ
/server/odc-core/**/task/           @yhilmare @yizhouxw

# service common
/server/odc-service/                                  @yhilmare @yizhouxw
/server/odc-service/**/config/                        @yhilmare @yizhouxw
/server/odc-service/**/metadb/                        @yhilmare @yizhouxw
/server/odc-service/**/service/common/                @yhilmare @MarkPotato777

# service business
/server/odc-service/**/service/audit/                 @MarkPotato777 @yizhouxw
/server/odc-service/**/service/automation/            @LuckyPickleZZ @ungreat
/server/odc-service/**/service/captcha/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/collaboration/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/config/                @MarkPotato777 @yizhouxw
/server/odc-service/**/service/datasecurity/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/datatransfer/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/db/                    @PeachThinking @yhilmare
/server/odc-service/**/service/diagnose/              @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/dispatch/              @yhilmare  @yizhouxw
/server/odc-service/**/service/dlm/                   @guowl3 @kiko-art
/server/odc-service/**/service/dml/                   @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/encryption/            @PeachThinking @yizhouxw
/server/odc-service/**/service/feature/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/flow/                  @yhilmare @yizhouxw
/server/odc-service/**/service/i18n/                  @LuckyPickleZZ
/server/odc-service/**/service/iam/                   @MarkPotato777 @PeachThinking
/server/odc-service/**/service/info/                  @yhilmare @yizhouxw
/server/odc-service/**/service/integration/           @yiminpeng @ungreat
/server/odc-service/**/service/lab/                   @LuckyPickleZZ @ungreat
/server/odc-service/**/service/monitor/               @ungreat @yizhouxw
/server/odc-service/**/service/notification/          @LuckyPickleZZ @MarkPotato777
/server/odc-service/**/service/objectstorage/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/onlineschemachange/    @LioRoger @LuckyPickleZZ
/server/odc-service/**/service/partitionplan/         @guowl3 @yhilmare
/server/odc-service/**/service/permission/            @MarkPotato777 @yhilmare
/server/odc-service/**/service/pldebug/               @yhilmare @yizhouxw
/server/odc-service/**/service/plugin/                @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/quartz/                @guowl3 @yhilmare
/server/odc-service/**/service/requlation/            @MarkPotato777 @yhilmare
/server/odc-service/**/service/resourcegroup/         @MarkPotato777 @yhilmare
/server/odc-service/**/service/resultset/             @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/rollbackplan/          @PeachThinking @MarkPotato777
/server/odc-service/**/service/schedule/              @guowl3 @yhilmare
/server/odc-service/**/service/script/                @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/session/               @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/shadowtable/           @MarkPotato777 @PeachThinking
/server/odc-service/**/service/snippet/               @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/sqlcheck/              @yhilmare @PeachThinking
/server/odc-service/**/service/structurecompare/      @PeachThinking @yhilmare
/server/odc-service/**/service/systemconfig/          @MarkPotato777  @yizhouxw
/server/odc-service/**/service/task/                  @yhilmare @yizhouxw
/server/odc-service/**/service/websocket/             @LuckyPickleZZ  @yizhouxw

# plugins
/server/plugins/                                      @yhilmare @yizhouxw
/server/plugins/connect-plugin-doris/                 @yhilmare @yizhouxw
/server/plugins/connect-plugin-mysql/                 @yhilmare @yizhouxw
/server/plugins/connect-plugin-ob-mysql/              @yhilmare @yizhouxw
/server/plugins/connect-plugin-ob-oracle/             @yhilmare @yizhouxw
/server/plugins/connect-plugin-oracle/                @yhilmare @yizhouxw

/server/plugins/schema-plugin-api/                    @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-doris/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-mysql/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-mysql/               @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-oracle/              @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-odp-sharding-ob-mysql/  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-oracle/                 @PeachThinking @MarkPotato777

/server/plugins/task-plugin-api/                      @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-doris/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-mysql/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-mysql/                 @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-oracle/                @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-oracle/                   @LuckyPickleZZ @yhilmare


# starters
/server/starters/                                     @yhilmare @yizhouxw
/server/starters/desktop-starter/                     @yhilmare @yizhouxw
/server/starters/web-starter/                         @yhilmare @MarkPotato777


# CI/CD
/.github/                    @MarkPotato777 @yhilmare @yizhouxw
/builds/                     @MarkPotato777 @yhilmare @yizhouxw
/script/                     @MarkPotato777 @yhilmare @yizhouxw
/distribution/               @MarkPotato777 @yhilmare @yizhouxw
/server/odc-test/            @MarkPotato777 @yhilmare @yizhouxw
/server/integration-test/    @MarkPotato777 @yhilmare @yizhouxw
/server/test-script/         @MarkPotato777 @yhilmare @yizhouxw

# i18n
/server/odc-core/src/main/resources/i18n/     @Jane201510 @JessieWuJiexi @yizhouxw

# docs
/docs/                      @Jane201510 @yhilmare @yizhouxw
CHANGELOG.md                @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
CHANGELOG-zh-CN.md          @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
README.md                   @Jane201510 @JessieWuJiexi @yizhouxw
README-zh.md                @Jane201510 @JessieWuJiexi @yizhouxw
