Repository oceanbase/odc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yhilmare, @yizhouxw, @PeachThinking, @MarkPotato777, @LuckyPickleZZ, @ungreat, @guowl3, @kiko-art, @yiminpeng, @LioRoger, @Jane201510, @JessieWuJiexi

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @yizhouxw

bugfix
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/ScheduleController.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DlmLimiterService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @yhilmare, @yizhouxw, @guowl3, @kiko-art

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DlmLimiterService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/processor/AbstractDlmPreprocessor.java
Owners: @guowl3, @kiko-art, @yhilmare

fix(statefulRoute): fix list column can't reach (#2953)
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v1/DBTableColumnController.java
Owners: @yhilmare, @yizhouxw

fix(statefulRoute): failed to list built-in snippets (#2935)
  server/odc-core/src/main/java/com/oceanbase/odc/core/alarm/AlarmEventNames.java
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/BuiltinSnippetController.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/RouteHealthManager.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/StateRouteAspect.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/model/RouteInfo.java
Owners: @LuckyPickleZZ, @yhilmare, @yizhouxw

fix failed to connect to ap instance
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/model/OBInstanceType.java
Owners: @yhilmare, @yizhouxw

fix typo
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/DefaultOnlineSchemaChangeTaskHandler.java
Owners: @LioRoger, @LuckyPickleZZ

refactor(statefulRoute): generalization plDebugsession to UUID stateId (#2960)
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/PLDebugController.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/pldebug/PLDebugService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/pldebug/model/PLDebugSessionId.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/StatefulUuidStateIdGenerator.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/StatefulUuidStateIdManager.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/model/StateName.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/model/StatefulUuidStateId.java
Owners: @yhilmare, @yizhouxw

fix(web): modify tomcat keepAliveTimeout to 70 seconds (#2964)
  server/odc-server/src/main/resources/config/application.yml
Owners: @yhilmare, @yizhouxw

refactor(statefulRoute): generalization plDebugsession to UUID stateId (#2960)
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/PLDebugController.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/pldebug/PLDebugService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/pldebug/model/PLDebugSessionId.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/StatefulUuidStateIdGenerator.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/StatefulUuidStateIdManager.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/model/StateName.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/model/StatefulUuidStateId.java
Owners: @yhilmare, @yizhouxw

fix(connect): failed to connect to ap instance (#2967)
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/model/OBInstanceType.java
Owners: @yhilmare, @yizhouxw

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/StartPreparingJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @yizhouxw

fix(osc): the online schema change blocked when rate limiter modified before swap table action (#2908)
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/DefaultOnlineSchemaChangeTaskHandler.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/OscService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/pipeline/ScheduleCheckOmsProjectValve.java
Owners: @LioRoger, @LuckyPickleZZ

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DLMJobStore.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/DataArchiveTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @guowl3, @kiko-art, @yhilmare, @yizhouxw

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DLMJobStore.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DlmLimiterService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/DataArchiveTask.java
Owners: @guowl3, @kiko-art, @yhilmare, @yizhouxw

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/objectstorage/cloud/CloudObjectStorageService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @MarkPotato777, @yizhouxw, @guowl3, @yhilmare

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/DataArchiveJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/DataDeleteJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/processor/DataArchivePreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/processor/DataDeletePreprocessor.java
Owners: @guowl3, @yhilmare

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/DataArchiveJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/DataDeleteJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/processor/AbstractDlmPreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/processor/DataArchivePreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/processor/DataDeletePreprocessor.java
Owners: @guowl3, @yhilmare

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DLMService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/BaseTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/StdJobScheduler.java
Owners: @guowl3, @kiko-art, @yhilmare, @yizhouxw

add log
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/BaseTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/DataArchiveTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/DoCancelingJob.java
Owners: @yhilmare, @yizhouxw

add individual space role bind
  server/odc-migrate/src/main/resources/init-config/runtime/iam_user_individual_space.yaml
Owners: @MarkPotato777, @yhilmare

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/enums/JobStatus.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/BaseTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/DataArchiveTask.java
Owners: @yhilmare, @yizhouxw

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/DataArchiveDeleteJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/DataArchiveRollbackJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/StdJobScheduler.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/DoCancelingJob.java
Owners: @guowl3, @yhilmare, @yizhouxw

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/alarm/ScheduleAlarmUtils.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/listener/DefaultJobTerminateListener.java
Owners: @guowl3, @yhilmare, @yizhouxw

bugfix
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/factory/ScheduleResponseMapperFactory.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleOverview.java
Owners: @guowl3, @yhilmare

fix get incorrect record from sql audit
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/OBMySQLDiagnoseExtension.java
  server/plugins/connect-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/connect/oboracle/OBOracleDiagnoseExtension.java
Owners: @yhilmare, @yizhouxw

check table
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/processor/DataArchivePreprocessor.java
Owners: @guowl3, @yhilmare

remove wrong condition
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/StatefulUuidStateIdGenerator.java
Owners: @yhilmare, @yizhouxw

remove wrong condition
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/StatefulUuidStateIdGenerator.java
Owners: @yhilmare, @yizhouxw

remove wrong condition
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/StatefulUuidStateIdGenerator.java
Owners: @yhilmare, @yizhouxw

remove wrong condition
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/StatefulUuidStateIdGenerator.java
Owners: @yhilmare, @yizhouxw

fix(stateful): remove wrong condition (#2975)
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/StatefulUuidStateIdGenerator.java
Owners: @yhilmare, @yizhouxw

fix(stateful): remove wrong generator conditional load (#2976)
  server/odc-service/src/main/java/com/oceanbase/odc/service/state/StatefulUuidStateIdGenerator.java
Owners: @yhilmare, @yizhouxw

fix(diagnose): get incorrect record from sql audit (#2974)
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/OBMySQLDiagnoseExtension.java
  server/plugins/connect-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/connect/oboracle/OBOracleDiagnoseExtension.java
Owners: @yhilmare, @yizhouxw

response comments
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DLMJobStore.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/objectstorage/cloud/CloudObjectStorageService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleTaskService.java
Owners: @guowl3, @kiko-art, @MarkPotato777, @yizhouxw, @yhilmare

fix(dlm): several bugfix (#2965)
  server/integration-test/src/test/java/com/oceanbase/odc/metadb/connection/ConnectionConfigRepositoryTest.java
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/ScheduleController.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/ConnectionConfigRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/schedule/ScheduleRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/ConnectionService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DLMJobStore.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DLMService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DlmLimiterService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/objectstorage/cloud/CloudObjectStorageService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleTaskService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/alarm/ScheduleAlarmUtils.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/factory/ScheduleResponseMapperFactory.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/DataArchiveDeleteJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/DataArchiveRollbackJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/QueryScheduleParams.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleOverview.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/processor/AbstractDlmPreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/processor/DataArchivePreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/processor/DataDeletePreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/constants/JobParametersKeyConstants.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/enums/JobStatus.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/BaseTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/task/DataArchiveTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/listener/DefaultJobTerminateListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/StdJobScheduler.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/DoCancelingJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/StartPreparingJob.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/TaskFrameworkService.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw, @guowl3, @kiko-art

rename class to Lazy
  server/odc-common/src/main/java/com/oceanbase/odc/common/util/Lazy.java
  server/odc-common/src/test/java/com/oceanbase/odc/common/util/LazyTest.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/BaseDMLBuilder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/MySQLDMLBuilder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/OracleDMLBuilder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/TableDataService.java
Owners: @yhilmare, @yizhouxw, @LuckyPickleZZ, @PeachThinking

record parameters in change log.
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/QuartzJobService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleChangeLog.java
Owners: @guowl3, @yhilmare

move concurrent validator to execution voter.
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcTriggerListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleTaskService.java
Owners: @guowl3, @yhilmare

.github/CODEOWNERS:

# ODC code owners, refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo.
*                                   @yhilmare @yizhouxw

# libs
/libs/db-browser/                   @yhilmare @PeachThinking
/libs/ob-sql-parser/                @yhilmare @PeachThinking

# 3rd-party
/server/3rd-party/                  @MarkPotato777 @yhilmare

# common
/server/odc-common/                 @yhilmare @yizhouxw

# migrate
/server/odc-migrate/                @MarkPotato777 @yhilmare

# core
/server/odc-core/                   @yhilmare @yizhouxw
/server/odc-core/**/alarm/          @LuckyPickleZZ
/server/odc-core/**/authority/      @yhilmare
/server/odc-core/**/datamasking/    @LuckyPickleZZ
/server/odc-core/**/datasource/     @yhilmare
/server/odc-core/**/flow/           @yhilmare
/server/odc-core/**/migrate/        @yhilmare @yizhouxw
/server/odc-core/**/session/        @yhilmare
/server/odc-core/**/shared/         @yhilmare @yizhouxw
/server/odc-core/**/sql/            @yhilmare @LuckyPickleZZ
/server/odc-core/**/task/           @yhilmare @yizhouxw

# service common
/server/odc-service/                                  @yhilmare @yizhouxw
/server/odc-service/**/config/                        @yhilmare @yizhouxw
/server/odc-service/**/metadb/                        @yhilmare @yizhouxw
/server/odc-service/**/service/common/                @yhilmare @MarkPotato777

# service business
/server/odc-service/**/service/audit/                 @MarkPotato777 @yizhouxw
/server/odc-service/**/service/automation/            @LuckyPickleZZ @ungreat
/server/odc-service/**/service/captcha/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/collaboration/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/config/                @MarkPotato777 @yizhouxw
/server/odc-service/**/service/datasecurity/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/datatransfer/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/db/                    @PeachThinking @yhilmare
/server/odc-service/**/service/diagnose/              @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/dispatch/              @yhilmare  @yizhouxw
/server/odc-service/**/service/dlm/                   @guowl3 @kiko-art
/server/odc-service/**/service/dml/                   @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/encryption/            @PeachThinking @yizhouxw
/server/odc-service/**/service/feature/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/flow/                  @yhilmare @yizhouxw
/server/odc-service/**/service/i18n/                  @LuckyPickleZZ
/server/odc-service/**/service/iam/                   @MarkPotato777 @PeachThinking
/server/odc-service/**/service/info/                  @yhilmare @yizhouxw
/server/odc-service/**/service/integration/           @yiminpeng @ungreat
/server/odc-service/**/service/lab/                   @LuckyPickleZZ @ungreat
/server/odc-service/**/service/monitor/               @ungreat @yizhouxw
/server/odc-service/**/service/notification/          @LuckyPickleZZ @MarkPotato777
/server/odc-service/**/service/objectstorage/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/onlineschemachange/    @LioRoger @LuckyPickleZZ
/server/odc-service/**/service/partitionplan/         @guowl3 @yhilmare
/server/odc-service/**/service/permission/            @MarkPotato777 @yhilmare
/server/odc-service/**/service/pldebug/               @yhilmare @yizhouxw
/server/odc-service/**/service/plugin/                @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/quartz/                @guowl3 @yhilmare
/server/odc-service/**/service/requlation/            @MarkPotato777 @yhilmare
/server/odc-service/**/service/resourcegroup/         @MarkPotato777 @yhilmare
/server/odc-service/**/service/resultset/             @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/rollbackplan/          @PeachThinking @MarkPotato777
/server/odc-service/**/service/schedule/              @guowl3 @yhilmare
/server/odc-service/**/service/script/                @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/session/               @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/shadowtable/           @MarkPotato777 @PeachThinking
/server/odc-service/**/service/snippet/               @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/sqlcheck/              @yhilmare @PeachThinking
/server/odc-service/**/service/structurecompare/      @PeachThinking @yhilmare
/server/odc-service/**/service/systemconfig/          @MarkPotato777  @yizhouxw
/server/odc-service/**/service/task/                  @yhilmare @yizhouxw
/server/odc-service/**/service/websocket/             @LuckyPickleZZ  @yizhouxw

# plugins
/server/plugins/                                      @yhilmare @yizhouxw
/server/plugins/connect-plugin-doris/                 @yhilmare @yizhouxw
/server/plugins/connect-plugin-mysql/                 @yhilmare @yizhouxw
/server/plugins/connect-plugin-ob-mysql/              @yhilmare @yizhouxw
/server/plugins/connect-plugin-ob-oracle/             @yhilmare @yizhouxw
/server/plugins/connect-plugin-oracle/                @yhilmare @yizhouxw

/server/plugins/schema-plugin-api/                    @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-doris/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-mysql/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-mysql/               @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-oracle/              @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-odp-sharding-ob-mysql/  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-oracle/                 @PeachThinking @MarkPotato777

/server/plugins/task-plugin-api/                      @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-doris/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-mysql/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-mysql/                 @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-oracle/                @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-oracle/                   @LuckyPickleZZ @yhilmare


# starters
/server/starters/                                     @yhilmare @yizhouxw
/server/starters/desktop-starter/                     @yhilmare @yizhouxw
/server/starters/web-starter/                         @yhilmare @MarkPotato777


# CI/CD
/.github/                    @MarkPotato777 @yhilmare @yizhouxw
/builds/                     @MarkPotato777 @yhilmare @yizhouxw
/script/                     @MarkPotato777 @yhilmare @yizhouxw
/distribution/               @MarkPotato777 @yhilmare @yizhouxw
/server/odc-test/            @MarkPotato777 @yhilmare @yizhouxw
/server/integration-test/    @MarkPotato777 @yhilmare @yizhouxw
/server/test-script/         @MarkPotato777 @yhilmare @yizhouxw

# i18n
/server/odc-core/src/main/resources/i18n/     @Jane201510 @JessieWuJiexi @yizhouxw

# docs
/docs/                      @Jane201510 @yhilmare @yizhouxw
CHANGELOG.md                @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
CHANGELOG-zh-CN.md          @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
README.md                   @Jane201510 @JessieWuJiexi @yizhouxw
README-zh.md                @Jane201510 @JessieWuJiexi @yizhouxw
