Repository oceanbase/odc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yhilmare, @yizhouxw, @PeachThinking, @MarkPotato777, @LuckyPickleZZ, @ungreat, @guowl3, @kiko-art, @yiminpeng, @LioRoger, @Jane201510, @JessieWuJiexi

add log
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

fix(schedule): parameters missing in changelog (#2977)
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcJobListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/OdcTriggerListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/quartz/QuartzJobService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleTaskService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleChangeLog.java
Owners: @guowl3, @yhilmare

adapt global client session and oracle model pl
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/ConnectSessionController.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/model/KillSessionOBProxyVersionNumber.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/model/KillSessionOBVersionNumber.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @yhilmare, @yizhouxw, @PeachThinking

1. eat exception when there is no records in plan monitor 2. query sql audit without session ids
  server/odc-core/src/main/java/com/oceanbase/odc/core/sql/util/OBUtils.java
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/OBMySQLDiagnoseExtension.java
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/diagnose/QueryProfileHelper.java
  server/plugins/connect-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/connect/oboracle/OBOracleDiagnoseExtension.java
Owners: @yhilmare, @LuckyPickleZZ, @yizhouxw

supports recognize commit/rollback statement
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/MysqlModeSqlParserListener.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/OracleModeParserListener.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/OracleModeSqlParserListener.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/parser/PLParserTest.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/parser/SqlParserTest.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/OBMySQLTableExtension.java
  server/plugins/schema-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/schema/oboracle/OBOracleTableExtension.java
Owners: @yhilmare, @PeachThinking, @MarkPotato777

print time zone in task log
  server/odc-server/src/main/resources/log4j2-task.xml
Owners: @yhilmare, @yizhouxw

print time zone in task log (#2980)
  server/odc-server/src/main/resources/log4j2-task.xml
Owners: @yhilmare, @yizhouxw

feature: Clean up the code
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/postgre/PostgresSchemaAccessor.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/constant/OdcConstants.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/ConnectionTesting.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/AbstractDlmJob.java
  server/plugins/connect-plugin-postgres/pom.xml
  server/plugins/connect-plugin-postgres/src/main/java/com/oceanbase/odc/plugin/connect/postgres/PostgresConnectionExtension.java
  server/plugins/connect-plugin-postgres/src/main/java/com/oceanbase/odc/plugin/connect/postgres/PostgresSessionExtension.java
  server/plugins/schema-plugin-postgres/pom.xml
  server/plugins/schema-plugin-postgres/src/main/java/com/oceanbase/odc/plugin/schema/postgres/PostgresTableExtension.java
  server/plugins/task-plugin-postgres/pom.xml
Owners: @yhilmare, @PeachThinking, @yizhouxw, @guowl3

upgrade oauth2 version
  pom.xml
Owners: @yhilmare, @yizhouxw

fix refresh failed
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/server/TaskMonitor.java
Owners: @yhilmare, @yizhouxw

fix(security): update oauth2 client version (#2981)
  pom.xml
Owners: @yhilmare, @yizhouxw

fix refresh failed (#2982)
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/server/TaskMonitor.java
Owners: @yhilmare, @yizhouxw

fix refresh process failed
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @yizhouxw

fix refresh process failed (#2983)
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/service/StdTaskFrameworkService.java
Owners: @yhilmare, @yizhouxw

several bug fix
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/CacheElement.java
Owners: @yhilmare, @PeachThinking

sync limit config when update schedule.
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

modify according to pr commit
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/model/KillSessionOBProxyVersionNumber.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/model/KillSessionOBVersionNumber.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

fix(pre-check): failed to get sql check result when the check result file is not on this machine (#2943)
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowTaskInstanceService.java
Owners: @yhilmare, @yizhouxw

sync limit config when update schedule. (#2986)
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

fix update trigger failed
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

fix update trigger failed
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

fix update trigger failed (#2987)
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

fix(global-search): unable to stop data object synchronization (#2928)
  server/integration-test/src/test/java/com/oceanbase/odc/metadb/connection/DatabaseRepositoryTest.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/DatabaseRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/DatabaseService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/DatabaseSyncManager.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/schema/DBSchemaIndexService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/schema/DBSchemaSyncScheduler.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/schema/DBSchemaSyncTaskManager.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/schema/GlobalSearchProperties.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw, @PeachThinking

fix(db-browser): failed to recognize the commit and rollback statement (#2985)
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/CacheElement.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/MysqlModeSqlParserListener.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/OracleModeParserListener.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/OracleModeSqlParserListener.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/parser/PLParserTest.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/parser/SqlParserTest.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/OBMySQLTableExtension.java
  server/plugins/schema-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/schema/oboracle/OBOracleTableExtension.java
Owners: @yhilmare, @PeachThinking, @MarkPotato777

enhancement(result-set): only query table constraints when it's necessary (#2958)
  server/odc-common/src/main/java/com/oceanbase/odc/common/util/Lazy.java
  server/odc-common/src/test/java/com/oceanbase/odc/common/util/LazyTest.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/BaseDMLBuilder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/MySQLDMLBuilder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/OracleDMLBuilder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/TableDataService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/UpdateGenerator.java
Owners: @yhilmare, @yizhouxw, @LuckyPickleZZ, @PeachThinking

fix(diagnose): failed to view query profile for distributed OB (#2945)
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/model/OBExecutionServerInfo.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/model/SqlPlanMonitor.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/sql/util/OBUtils.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/queryprofile/OBQueryProfileManager.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/ConnectConsoleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/OBQueryProfileExecutionListener.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/model/AsyncExecuteContext.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/model/SqlExecuteResult.java
  server/plugins/connect-plugin-api/src/main/java/com/oceanbase/odc/plugin/connect/api/SqlDiagnoseExtensionPoint.java
  server/plugins/connect-plugin-mysql/src/main/java/com/oceanbase/odc/plugin/connect/mysql/MySQLDiagnoseExtensionPoint.java
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/OBMySQLDiagnoseExtension.java
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/diagnose/DiagnoseUtil.java
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/diagnose/QueryProfileHelper.java
  server/plugins/connect-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/connect/oboracle/OBOracleDiagnoseExtension.java
Owners: @yhilmare, @yizhouxw, @LuckyPickleZZ

validate cron expression
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

validate cron expression
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

fix(schedule): check cron expression (#2989)
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

fix npe
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

fix npe
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

fix(dlm): update limit config throw NPE (#2990)
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
Owners: @guowl3, @yhilmare

feature: test for pg->ob
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/flowtask/AbstractDlmJobPreprocessor.java
Owners: @guowl3, @yhilmare

modify code according to pr
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

modify code format
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

modify code format
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

upload log do not tag object.
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/logger/LogBizImpl.java
Owners: @yhilmare, @yizhouxw

upload log do not tag object.
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/executor/logger/LogBizImpl.java
Owners: @yhilmare, @yizhouxw

modify code format
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/session/DefaultDBSessionManage.java
Owners: @PeachThinking, @yhilmare

note
  server/odc-core/src/main/java/com/oceanbase/odc/core/session/ConnectionSessionManager.java
Owners: @yhilmare

.github/CODEOWNERS:

# ODC code owners, refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo.
*                                   @yhilmare @yizhouxw

# libs
/libs/db-browser/                   @yhilmare @PeachThinking
/libs/ob-sql-parser/                @yhilmare @PeachThinking

# 3rd-party
/server/3rd-party/                  @MarkPotato777 @yhilmare

# common
/server/odc-common/                 @yhilmare @yizhouxw

# migrate
/server/odc-migrate/                @MarkPotato777 @yhilmare

# core
/server/odc-core/                   @yhilmare @yizhouxw
/server/odc-core/**/alarm/          @LuckyPickleZZ
/server/odc-core/**/authority/      @yhilmare
/server/odc-core/**/datamasking/    @LuckyPickleZZ
/server/odc-core/**/datasource/     @yhilmare
/server/odc-core/**/flow/           @yhilmare
/server/odc-core/**/migrate/        @yhilmare @yizhouxw
/server/odc-core/**/session/        @yhilmare
/server/odc-core/**/shared/         @yhilmare @yizhouxw
/server/odc-core/**/sql/            @yhilmare @LuckyPickleZZ
/server/odc-core/**/task/           @yhilmare @yizhouxw

# service common
/server/odc-service/                                  @yhilmare @yizhouxw
/server/odc-service/**/config/                        @yhilmare @yizhouxw
/server/odc-service/**/metadb/                        @yhilmare @yizhouxw
/server/odc-service/**/service/common/                @yhilmare @MarkPotato777

# service business
/server/odc-service/**/service/audit/                 @MarkPotato777 @yizhouxw
/server/odc-service/**/service/automation/            @LuckyPickleZZ @ungreat
/server/odc-service/**/service/captcha/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/collaboration/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/config/                @MarkPotato777 @yizhouxw
/server/odc-service/**/service/datasecurity/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/datatransfer/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/db/                    @PeachThinking @yhilmare
/server/odc-service/**/service/diagnose/              @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/dispatch/              @yhilmare  @yizhouxw
/server/odc-service/**/service/dlm/                   @guowl3 @kiko-art
/server/odc-service/**/service/dml/                   @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/encryption/            @PeachThinking @yizhouxw
/server/odc-service/**/service/feature/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/flow/                  @yhilmare @yizhouxw
/server/odc-service/**/service/i18n/                  @LuckyPickleZZ
/server/odc-service/**/service/iam/                   @MarkPotato777 @PeachThinking
/server/odc-service/**/service/info/                  @yhilmare @yizhouxw
/server/odc-service/**/service/integration/           @yiminpeng @ungreat
/server/odc-service/**/service/lab/                   @LuckyPickleZZ @ungreat
/server/odc-service/**/service/monitor/               @ungreat @yizhouxw
/server/odc-service/**/service/notification/          @LuckyPickleZZ @MarkPotato777
/server/odc-service/**/service/objectstorage/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/onlineschemachange/    @LioRoger @LuckyPickleZZ
/server/odc-service/**/service/partitionplan/         @guowl3 @yhilmare
/server/odc-service/**/service/permission/            @MarkPotato777 @yhilmare
/server/odc-service/**/service/pldebug/               @yhilmare @yizhouxw
/server/odc-service/**/service/plugin/                @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/quartz/                @guowl3 @yhilmare
/server/odc-service/**/service/requlation/            @MarkPotato777 @yhilmare
/server/odc-service/**/service/resourcegroup/         @MarkPotato777 @yhilmare
/server/odc-service/**/service/resultset/             @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/rollbackplan/          @PeachThinking @MarkPotato777
/server/odc-service/**/service/schedule/              @guowl3 @yhilmare
/server/odc-service/**/service/script/                @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/session/               @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/shadowtable/           @MarkPotato777 @PeachThinking
/server/odc-service/**/service/snippet/               @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/sqlcheck/              @yhilmare @PeachThinking
/server/odc-service/**/service/structurecompare/      @PeachThinking @yhilmare
/server/odc-service/**/service/systemconfig/          @MarkPotato777  @yizhouxw
/server/odc-service/**/service/task/                  @yhilmare @yizhouxw
/server/odc-service/**/service/websocket/             @LuckyPickleZZ  @yizhouxw

# plugins
/server/plugins/                                      @yhilmare @yizhouxw
/server/plugins/connect-plugin-doris/                 @yhilmare @yizhouxw
/server/plugins/connect-plugin-mysql/                 @yhilmare @yizhouxw
/server/plugins/connect-plugin-ob-mysql/              @yhilmare @yizhouxw
/server/plugins/connect-plugin-ob-oracle/             @yhilmare @yizhouxw
/server/plugins/connect-plugin-oracle/                @yhilmare @yizhouxw

/server/plugins/schema-plugin-api/                    @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-doris/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-mysql/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-mysql/               @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-oracle/              @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-odp-sharding-ob-mysql/  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-oracle/                 @PeachThinking @MarkPotato777

/server/plugins/task-plugin-api/                      @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-doris/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-mysql/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-mysql/                 @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-oracle/                @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-oracle/                   @LuckyPickleZZ @yhilmare


# starters
/server/starters/                                     @yhilmare @yizhouxw
/server/starters/desktop-starter/                     @yhilmare @yizhouxw
/server/starters/web-starter/                         @yhilmare @MarkPotato777


# CI/CD
/.github/                    @MarkPotato777 @yhilmare @yizhouxw
/builds/                     @MarkPotato777 @yhilmare @yizhouxw
/script/                     @MarkPotato777 @yhilmare @yizhouxw
/distribution/               @MarkPotato777 @yhilmare @yizhouxw
/server/odc-test/            @MarkPotato777 @yhilmare @yizhouxw
/server/integration-test/    @MarkPotato777 @yhilmare @yizhouxw
/server/test-script/         @MarkPotato777 @yhilmare @yizhouxw

# i18n
/server/odc-core/src/main/resources/i18n/     @Jane201510 @JessieWuJiexi @yizhouxw

# docs
/docs/                      @Jane201510 @yhilmare @yizhouxw
CHANGELOG.md                @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
CHANGELOG-zh-CN.md          @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
README.md                   @Jane201510 @JessieWuJiexi @yizhouxw
README-zh.md                @Jane201510 @JessieWuJiexi @yizhouxw
