Repository oceanbase/odc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yhilmare, @yizhouxw, @PeachThinking, @MarkPotato777, @LuckyPickleZZ, @smallsheeeep, @krihy, @ungreat, @guowl3, @Jane201510, @JessieWuJiexi

fix i18n problem
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/constant/Symbols.java
  server/odc-core/src/main/resources/i18n/BusinessMessages.properties
  server/odc-core/src/main/resources/i18n/BusinessMessages_zh_CN.properties
  server/odc-core/src/main/resources/i18n/BusinessMessages_zh_TW.properties
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowInstanceService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/util/DescriptionGenerator.java
Owners: @yhilmare, @yizhouxw, @krihy

allow concurrent obtain trigger
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/TaskFrameworkConfiguration.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/StartPreparingJob.java
Owners: @yhilmare, @krihy, @yizhouxw

Fixed error after sql check when the input is '#'
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/DatabaseService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/processor/CreateFlowInstanceProcessAspect.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/model/MultipleDatabaseChangeParameters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/sqlcheck/SqlCheckService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/sqlcheck/model/MultipleSqlCheckResult.java
Owners: @yhilmare, @yizhouxw, @krihy, @PeachThinking

Solve the problem that multiple database flow cannot be initiated repeatedly
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/processor/CreateFlowInstanceProcessAspect.java
Owners: @yhilmare, @krihy

response to cr comment
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/constant/ErrorCodes.java
  server/odc-core/src/main/resources/i18n/ErrorMessages.properties
  server/odc-core/src/main/resources/i18n/ErrorMessages_zh_CN.properties
  server/odc-core/src/main/resources/i18n/ErrorMessages_zh_TW.properties
  server/odc-service/src/main/java/com/oceanbase/odc/service/partitionplan/PartitionPlanService.java
Owners: @yhilmare, @yizhouxw, @guowl3

enhancement(partition-plan): add a prompt when no preview sql generated (#2351)
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/constant/ErrorCodes.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/constant/Symbols.java
  server/odc-core/src/main/resources/i18n/BusinessMessages.properties
  server/odc-core/src/main/resources/i18n/BusinessMessages_zh_CN.properties
  server/odc-core/src/main/resources/i18n/BusinessMessages_zh_TW.properties
  server/odc-core/src/main/resources/i18n/ErrorMessages.properties
  server/odc-core/src/main/resources/i18n/ErrorMessages_zh_CN.properties
  server/odc-core/src/main/resources/i18n/ErrorMessages_zh_TW.properties
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowInstanceService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/util/DescriptionGenerator.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/partitionplan/PartitionPlanService.java
Owners: @yhilmare, @yizhouxw, @krihy, @guowl3

feat：
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/DLMJobFactory.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/model/DataDeleteParameters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dlm/model/DlmTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/flowtask/AbstractDlmJobPreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/flowtask/DataDeletePreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/DataDeleteJob.java
  server/odc-service/src/test/java/com/oceanbase/odc/service/dlm/job/AbstractDlmJobPreprocessorTest.java
Owners: @guowl3, @smallsheeeep, @yhilmare

logical database and table CRUD implementations
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/constant/ResourceType.java
  server/odc-core/src/main/resources/i18n/BusinessMessages.properties
  server/odc-core/src/main/resources/i18n/BusinessMessages_zh_CN.properties
  server/odc-core/src/main/resources/i18n/BusinessMessages_zh_TW.properties
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_1_4__add_logical_database.sql
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/LogicalDatabaseController.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalDBPhysicalDBRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalDatabaseMetaRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalTablePhysicalTableEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalTablePhysicalTableRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalTableRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/LogicalDatabaseService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/LogicalTableService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/model/CreateLogicalDatabaseReq.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/model/DetailLogicalDatabaseResp.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/model/DetailLogicalTableResp.java
Owners: @yhilmare, @yizhouxw, @MarkPotato777

Fixed NullPointerException when transferring sql files
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/PreCheckRuntimeFlowableTask.java
Owners: @yhilmare, @krihy

add disallowConcurrent
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/StartPreparingJob.java
Owners: @yhilmare, @krihy, @yizhouxw

use Object instead of String
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/editor/DBTableEditor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/editor/DBTableIndexEditor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/model/DBColumnGroupElement.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/model/DBIndex.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/model/DBTable.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/model/DBTableIndex.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/MysqlModeSqlParserListener.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/parser/listener/OracleModeSqlParserListener.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/editor/DBObjectUtilsTest.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/editor/MySQLTableEditorTest.java
  libs/db-browser/src/test/java/com/oceanbase/tools/dbbrowser/editor/OracleTableEditorTest.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/parser/GetDBTableByParser.java
  server/plugins/schema-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/schema/obmysql/parser/OBMySQLGetDBTableByParser.java
  server/plugins/schema-plugin-ob-oracle/src/main/java/com/oceanbase/odc/plugin/schema/oboracle/parser/OBOracleGetDBTableByParser.java
Owners: @yhilmare, @PeachThinking, @MarkPotato777

fix UT
  libs/db-browser/src/test/resources/table/operator/ob/mysql/index/create_index_definition_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/mysql/index/create_index_object_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/mysql/index/update_single_index_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/oracle/index/create_index_definition_test_cases.json
  libs/db-browser/src/test/resources/table/operator/ob/oracle/index/create_index_object_test_cases.json
Owners: @yhilmare, @PeachThinking

feat：support data check before data delete
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/job/AbstractDlmJob.java
  server/odc-service/src/test/java/com/oceanbase/odc/service/dlm/job/AbstractDlmJobPreprocessorTest.java
Owners: @guowl3, @yhilmare, @smallsheeeep

feat：support data check before data delete
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/flowtask/AbstractDlmJobPreprocessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/flowtask/DataDeletePreprocessor.java
Owners: @guowl3, @yhilmare

replace unexpected characters
  server/odc-service/src/main/java/com/oceanbase/odc/service/websocket/OBClientReadThread.java
Owners: @LuckyPickleZZ, @yizhouxw

fix execution record display when failure occurs
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/MultipleDatabaseChangeRuntimeFlowableTask.java
Owners: @yhilmare, @krihy

set cluster true
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/TaskFrameworkConfiguration.java
Owners: @yhilmare, @krihy, @yizhouxw

Supports viewing subtask details.
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_4__add_schedule_task_unit.sql
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/ScheduleController.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskUnitEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskUnitRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleTaskService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/DataArchiveExecutionDetail.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/DataArchiveTaskUnitParameters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ExecutionDetail.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleTaskUnit.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/TaskUnitParameters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/utils/ScheduleTaskMapper.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/utils/ScheduleTaskUnitMapper.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw, @guowl3

delete ScheduleTaskMapper.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/utils/ScheduleTaskMapper.java
Owners: @guowl3, @yhilmare

fix masking invalid
  server/odc-service/src/main/java/com/oceanbase/odc/service/datasecurity/SensitiveColumnService.java
Owners: @smallsheeeep, @yhilmare

correct field name.
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskUnitEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/DataArchiveExecutionDetail.java
Owners: @yhilmare, @yizhouxw, @guowl3

auth whitelist support configurable
  server/odc-service/src/main/java/com/oceanbase/odc/config/CommonSecurityProperties.java
Owners: @yhilmare, @yizhouxw

auth whitelist support configurable
  server/odc-service/src/main/java/com/oceanbase/odc/config/CommonSecurityProperties.java
Owners: @yhilmare, @yizhouxw

logical table extraction
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_1_4__add_logical_database.sql
  server/odc-server/src/main/java/com/oceanbase/odc/server/web/controller/v2/LogicalDatabaseController.java
  server/odc-service/src/main/java/com/oceanbase/odc/config/ScheduleConfiguration.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalTableEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalTablePhysicalTableRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/connection/logicaldatabase/LogicalTableRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/LogicalDatabaseService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/LogicalDatabaseSyncManager.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/LogicalTableExtractTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/LogicalTableFinder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/logicaldatabase/core/model/DataNode.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw

bug fix
  .idea/runConfigurations/mvn_clean_install_test.xml
  server/odc-service/src/main/java/com/oceanbase/odc/config/HookConfiguration.java
Owners: @yhilmare, @yizhouxw

auth whitelist support configurable
  server/odc-service/src/main/java/com/oceanbase/odc/config/CommonSecurityProperties.java
Owners: @yhilmare, @yizhouxw

several bug fix
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_4__add_schedule_task_unit.sql
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskUnitEntity.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw

mock data
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleTaskService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/DataArchiveExecutionDetail.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/DataArchiveTaskUnitParameters.java
Owners: @guowl3, @yhilmare

add JobStoreSupportDelegate
  server/odc-server/src/main/resources/log4j2.xml
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/JobStoreSupportDelegate.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/TaskFrameworkConfiguration.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/schedule/daemon/StartPreparingJob.java
Owners: @yhilmare, @yizhouxw, @krihy

add filter
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/config/JobStoreSupportDelegate.java
Owners: @yhilmare, @krihy, @yizhouxw

modify code format
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/DatabaseChangeChangingOrderTemplateService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/databasechange/model/DatabaseChangeProperties.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/processor/CreateFlowInstanceProcessAspect.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/MultipleDatabaseChangeRuntimeFlowableTask.java
Owners: @yhilmare, @yizhouxw, @krihy

enhancement(jpa): add json type (#2211)
  server/integration-test/src/test/java/com/oceanbase/odc/metadb/jpa/JsonExampleEntity.java
  server/integration-test/src/test/java/com/oceanbase/odc/metadb/jpa/JsonExampleRepository.java
  server/integration-test/src/test/java/com/oceanbase/odc/metadb/jpa/JsonTypeTest.java
  server/odc-service/src/main/java/com/oceanbase/odc/config/jpa/type/JsonType.java
Owners: @smallsheeeep, @yhilmare, @yizhouxw

rename task unit to task shard
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_4__add_schedule_task_shard.sql
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskShardEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskShardRepository.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleTaskService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/DataArchiveTaskShardParameters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleTaskResp.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleTaskShard.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/TaskShardParameters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/utils/ScheduleTaskShardMapper.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw, @guowl3

add primary key
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_4__add_schedule_task_shard.sql
Owners: @MarkPotato777, @yhilmare

fix function not found
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleTaskService.java
Owners: @guowl3, @yhilmare

support get column groups in accessor
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/DBSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/doris/DorisSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/MySQLNoLessThan5700SchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/OBMySQLSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/oracle/OBOracleSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/oracle/OracleSchemaAccessor.java
Owners: @yhilmare, @PeachThinking

add support for structure compare and shadow table
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/editor/DBTableEditor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/OBMySQLSchemaAccessor.java
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/oracle/OBOracleSchemaAccessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/structurecompare/comparedbobject/DBTableStructureComparator.java
Owners: @yhilmare, @PeachThinking

fix(web-framework): csrfToken API does not return token (#2277)
  server/odc-core/src/main/java/com/oceanbase/odc/core/shared/exception/AccessDeniedException.java
  server/odc-service/src/main/java/com/oceanbase/odc/config/CommonSecurityProperties.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/common/util/WebResponseUtils.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/iam/auth/OrganizationAuthenticationInterceptor.java
Owners: @yhilmare, @yizhouxw, @MarkPotato777, @smallsheeeep

response comments.
  server/odc-migrate/src/main/resources/migrate/common/V_4_3_0_4__add_schedule_task_shard.sql
  server/odc-service/src/main/java/com/oceanbase/odc/metadb/schedule/ScheduleTaskShardEntity.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/ScheduleService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/ScheduleTaskShard.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/TaskShardStatus.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/utils/ScheduleTaskShardMapper.java
Owners: @MarkPotato777, @yhilmare, @yizhouxw, @guowl3

response comments.
  server/odc-service/src/main/java/com/oceanbase/odc/service/schedule/model/DataArchiveTaskShardParameters.java
Owners: @guowl3, @yhilmare

.github/CODEOWNERS:

# ODC code owners, refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo.
*                                   @yhilmare @yizhouxw

# libs
/libs/db-browser/                   @yhilmare @PeachThinking
/libs/ob-sql-parser/                @yhilmare @PeachThinking

# 3rd-party
/server/3rd-party/                  @MarkPotato777 @yhilmare

# common
/server/odc-common/                 @yhilmare @yizhouxw

# migrate
/server/odc-migrate/                @MarkPotato777 @yhilmare

# core
/server/odc-core/                   @yhilmare @yizhouxw
/server/odc-core/**/alarm/          @LuckyPickleZZ
/server/odc-core/**/authority/      @yhilmare
/server/odc-core/**/datamasking/    @smallsheeeep
/server/odc-core/**/datasource/     @yhilmare
/server/odc-core/**/flow/           @yhilmare
/server/odc-core/**/migrate/        @yhilmare @yizhouxw
/server/odc-core/**/session/        @yhilmare
/server/odc-core/**/shared/         @yhilmare @yizhouxw
/server/odc-core/**/sql/            @yhilmare @LuckyPickleZZ
/server/odc-core/**/task/           @yhilmare @krihy

# service common
/server/odc-service/                                  @yhilmare @yizhouxw
/server/odc-service/**/config/                        @yhilmare @yizhouxw
/server/odc-service/**/metadb/                        @yhilmare @yizhouxw
/server/odc-service/**/service/common/                @yhilmare @MarkPotato777

# service business
/server/odc-service/**/service/audit/                 @MarkPotato777 @yizhouxw
/server/odc-service/**/service/automation/            @LuckyPickleZZ @ungreat
/server/odc-service/**/service/captcha/               @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/collaboration/         @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/config/                @MarkPotato777 @yizhouxw
/server/odc-service/**/service/datasecurity/          @smallsheeeep @yhilmare
/server/odc-service/**/service/datatransfer/          @LuckyPickleZZ @yhilmare
/server/odc-service/**/service/db/                    @PeachThinking @yhilmare
/server/odc-service/**/service/diagnose/              @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/dispatch/              @yhilmare  @yizhouxw
/server/odc-service/**/service/dlm/                   @guowl3 @smallsheeeep
/server/odc-service/**/service/dml/                   @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/encryption/            @smallsheeeep @yizhouxw
/server/odc-service/**/service/feature/               @MarkPotato777 @yizhouxw
/server/odc-service/**/service/flow/                  @yhilmare @krihy
/server/odc-service/**/service/i18n/                  @LuckyPickleZZ
/server/odc-service/**/service/iam/                   @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/info/                  @yhilmare @yizhouxw
/server/odc-service/**/service/integration/           @smallsheeeep @ungreat
/server/odc-service/**/service/lab/                   @LuckyPickleZZ @ungreat
/server/odc-service/**/service/monitor/               @ungreat @yizhouxw
/server/odc-service/**/service/notification/          @LuckyPickleZZ @MarkPotato777
/server/odc-service/**/service/objectstorage/         @MarkPotato777 @yizhouxw
/server/odc-service/**/service/onlineschemachange/    @krihy @LuckyPickleZZ
/server/odc-service/**/service/partitionplan/         @guowl3 @yhilmare
/server/odc-service/**/service/permission/            @smallsheeeep @yhilmare
/server/odc-service/**/service/pldebug/               @yhilmare @krihy
/server/odc-service/**/service/plugin/                @yhilmare @krihy
/server/odc-service/**/service/quartz/                @guowl3 @yhilmare
/server/odc-service/**/service/requlation/            @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/resourcegroup/         @MarkPotato777 @smallsheeeep
/server/odc-service/**/service/resultset/             @LuckyPickleZZ @PeachThinking
/server/odc-service/**/service/rollbackplan/          @PeachThinking @MarkPotato777
/server/odc-service/**/service/schedule/              @guowl3 @yhilmare
/server/odc-service/**/service/script/                @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/session/               @yhilmare @LuckyPickleZZ
/server/odc-service/**/service/shadowtable/           @MarkPotato777 @PeachThinking
/server/odc-service/**/service/snippet/               @LuckyPickleZZ @yizhouxw
/server/odc-service/**/service/sqlcheck/              @yhilmare @PeachThinking
/server/odc-service/**/service/structurecompare/      @PeachThinking @yhilmare
/server/odc-service/**/service/systemconfig/          @MarkPotato777  @yizhouxw
/server/odc-service/**/service/task/                  @yhilmare @krihy @yizhouxw
/server/odc-service/**/service/websocket/             @LuckyPickleZZ  @yizhouxw

# plugins
/server/plugins/                                      @yhilmare @yizhouxw
/server/plugins/connect-plugin-doris/                 @yhilmare @krihy
/server/plugins/connect-plugin-mysql/                 @yhilmare @krihy
/server/plugins/connect-plugin-ob-mysql/              @yhilmare @krihy
/server/plugins/connect-plugin-ob-oracle/             @yhilmare @krihy
/server/plugins/connect-plugin-oracle/                @yhilmare @krihy

/server/plugins/schema-plugin-api/                    @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-doris/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-mysql/                  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-mysql/               @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-ob-oracle/              @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-odp-sharding-ob-mysql/  @PeachThinking @MarkPotato777
/server/plugins/schema-plugin-oracle/                 @PeachThinking @MarkPotato777

/server/plugins/task-plugin-api/                      @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-doris/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-mysql/                    @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-mysql/                 @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-ob-oracle/                @LuckyPickleZZ @yhilmare
/server/plugins/task-plugin-oracle/                   @LuckyPickleZZ @yhilmare


# starters
/server/starters/                                     @yhilmare @yizhouxw
/server/starters/desktop-starter/                     @yhilmare @yizhouxw
/server/starters/web-starter/                         @yhilmare @MarkPotato777


# CI/CD
/.github/                    @smallsheeeep @yhilmare @yizhouxw
/builds/                     @smallsheeeep @yhilmare @yizhouxw
/script/                     @smallsheeeep @yhilmare @yizhouxw
/distribution/               @smallsheeeep @yhilmare @yizhouxw
/server/odc-test/            @smallsheeeep @yhilmare @yizhouxw
/server/integration-test/    @smallsheeeep @yhilmare @yizhouxw
/server/test-script/         @smallsheeeep @yhilmare @yizhouxw


# docs
/docs/                      @Jane201510 @yhilmare @yizhouxw
CHANGELOG.md                @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
CHANGELOG-zh-CN.md          @Jane201510 @JessieWuJiexi @yhilmare @yizhouxw
README.md                   @Jane201510 @JessieWuJiexi @yizhouxw
README-zh.md                @Jane201510 @JessieWuJiexi @yizhouxw
