Repository oceanbase/odc, pull requests merged in 2023-08, with the labels that each got.

#33 security: read-write "id" field may lead to overstep
  server/odc-service/src/main/java/com/oceanbase/odc/service/automation/model/AutomationRule.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/datasecurity/model/MaskingAlgorithm.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/datasecurity/model/SensitiveColumn.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/datasecurity/model/SensitiveRule.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/iam/model/Role.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/integration/model/IntegrationConfig.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/regulation/risklevel/model/RiskDetectRule.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/regulation/risklevel/model/RiskLevel.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/regulation/ruleset/model/Rule.java
Labels: priority-high, security bug

#45 [Fix]: Generated insert into statement error after executing alter table add column statement
  server/integration-test/src/test/java/com/oceanbase/odc/service/session/ConnectConsoleServiceTest.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/session/ConnectionSessionUtil.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/factory/DefaultConnectSessionFactory.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/model/SqlExecuteResult.java
Labels: type-bug, module-sql execution, priority-high

#43 fix(audit): event meta list add export result set
  server/odc-service/src/main/java/com/oceanbase/odc/service/audit/AuditEventMetaService.java
Labels: priority-medium

#34 [Feature]: support ODP Sharding MySQL and MySQL
  libs/db-browser/src/main/java/com/oceanbase/tools/dbbrowser/schema/mysql/ODPOBMySQLSchemaAccessor.java
  server/odc-core/src/main/java/com/oceanbase/odc/core/sql/execute/mapper/DefaultJdbcRowMapper.java
  server/odc-migrate/src/main/resources/migrate/common/R_2_0_0__initialize_version_diff_config.sql
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/database/DatabaseService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/datasecurity/DataMaskingService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/datasecurity/extractor/OBColumnExtractor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/datatransfer/DBObjectNameAccessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/db/DBPLService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/converter/BaseStringConverter.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/converter/DataConverters.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/rollbackplan/RollbackGeneratorFactory.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/factory/OBConsoleDataSourceFactory.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/sqlcheck/BaseSqlChecker.java
  server/plugins/connect-plugin-mysql/src/main/java/com/oceanbase/odc/plugin/connect/mysql/MySQLConnectionExtension.java
  server/plugins/connect-plugin-ob-mysql/src/main/java/com/oceanbase/odc/plugin/connect/obmysql/OBMySQLConnectionExtension.java
Labels: type-feature, module-Data source management, priority-exigency

#75 feat(workflow): add checkbox in workflow to decide weather to install db-browser and ob-sql-parser
  .github/workflows/build_artifact.yaml
Labels: type-feature, type-refactor, module-workflow

#77 fix(batch-import): NPE when template file contains blank rows or columns
  server/odc-service/src/main/java/com/oceanbase/odc/service/common/util/FileConvertUtils.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/connection/ConnectionBatchImportPreviewer.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/iam/UserBatchImportPreviewer.java
  server/odc-service/src/test/java/com/oceanbase/odc/service/common/FileConvertUtilsTest.java
  server/odc-service/src/test/resources/common/workbook_empty_content.xlsx
  server/odc-service/src/test/resources/common/workbook_normal.xlsx
  server/odc-service/src/test/resources/common/workbook_with_empty_columns.xlsx
  server/odc-service/src/test/resources/common/workbook_with_empty_rows.xlsx
Labels: type-bug, priority-exigency, module-Batch import

#91 refactor(workflow): add mvn install step for dev
  .github/workflows/build_artifact.yaml
  .github/workflows/build_daily.yaml
  .github/workflows/build_dev.yaml
Labels: type-feature, priority-medium, type-refactor, module-workflow

#92 refactor(workflow): add mvn install step for dev
  .github/workflows/build_daily.yaml
  .github/workflows/build_dev.yaml
Labels: type-feature, priority-medium, type-refactor, module-workflow

#65 refactor(osc): refactor rename table
  server/integration-test/src/test/java/com/oceanbase/odc/service/onlineschemachange/OnlineSchemaChangeSwapTableTest.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/pipeline/SwapTableNameValve.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/rename/DefaultRenameTableInvoker.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/rename/RenameBackHandler.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/rename/RenameTableInvoker.java
Labels: priority-high, module-Online schema change, type-refactor

#84 fix(result-set): fix NPE by setting column accessor during session initialization
  server/odc-service/src/main/java/com/oceanbase/odc/service/session/factory/DefaultConnectSessionFactory.java
Labels: priority-exigency, module-Data security

#73 feat(data-transfer): support saving export objects
  server/odc-service/src/main/java/com/oceanbase/odc/service/datatransfer/DBObjectNameAccessor.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/datatransfer/DataTransferService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowInstanceService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/FlowTaskInstanceService.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/DataTransferRuntimeFlowableTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/task/TaskService.java
Labels: module-Data generation and migration

#78 fix(result-set): generate dml slowly when edit result-set
  server/integration-test/src/test/java/com/oceanbase/odc/service/dml/DeleteGeneratorTest.java
  server/integration-test/src/test/java/com/oceanbase/odc/service/dml/InsertGeneratorTest.java
  server/integration-test/src/test/java/com/oceanbase/odc/service/dml/UpdateGeneratorTest.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/BaseDMLBuilder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/MySQLDMLBuilder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/OracleDMLBuilder.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/dml/TableDataService.java
Labels: module-Data viewing and editing

#60 [Feature]: mock data adapt for native mysql5.7
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/task/util/MockDataTypeUtil.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/flow/util/FlowTaskUtil.java
Labels: type-feature, module-Mock data, priority-exigency

#101 fix create oracle table failed with quote wrapped by special character
  server/integration-test/src/test/java/com/oceanbase/odc/service/onlineschemachange/DdlUtilsTest.java
  server/integration-test/src/test/java/com/oceanbase/odc/service/onlineschemachange/ddl/TableNameReplacerTest.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/DefaultOnlineSchemaChangeTaskHandler.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/OnlineSchemaChangeFlowableTask.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/ddl/DdlUtils.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/pipeline/BaseCreateOmsProjectValve.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/subtask/OscTaskCompleteHandler.java
  server/odc-service/src/main/java/com/oceanbase/odc/service/onlineschemachange/subtask/SubTaskParameterFactory.java
Labels: type-bug, priority-high, module-Online schema change

#103 fix(workflow): Make pnpm run in hoisted mode
  .github/workflows/build_artifact.yaml
  .github/workflows/build_daily.yaml
  .github/workflows/build_release.yaml
Labels: type-bug, module-workflow
